{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
# X509 extensions for a client

[ client_exts ]

basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
extendedKeyUsage = clientAuth
keyUsage = digitalSignature


# X509 extensions for a server

[ server_exts ]

basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
extendedKeyUsage = serverAuth
keyUsage = digitalSignature,keyEncipherment
