define service {
    name                            generic-service
    register                        0
    notifications_enabled           1
    notification_interval           0
    notification_period             24x7
    notification_options            w,u,c,r
    check_period                    24x7
    check_interval                  1
    max_check_attempts              4
    event_handler_enabled           1
    flap_detection_enabled          1
    failure_prediction_enabled      1
    process_perf_data               1
    retain_status_information       1
    retain_nonstatus_information    1
    contact_groups                  support_engineers_notifications
}

define service {
    name                        tpa_monitored_service
    use                         generic-service
    register                    0
    active_checks_enabled       0
    passive_checks_enabled      1
    check_command               check_dummy!3!"No data from client for service"
    check_freshness             1
    freshness_threshold         400
    notification_interval       1
    notification_options        w,u,c,r,f,s
    contact_groups              support_engineers_notifications
    servicegroups               tpa_monitored_services
}


define service {
    name                        tpa_actively_monitored_service
    use                         generic-service
    register                    1
    active_checks_enabled       1
    check_freshness             1
    freshness_threshold         400
    notification_interval       1
    notification_options        w,u,c,r,f,s
    contact_groups              support_engineers_notifications
    servicegroups               tpa_monitored_services
}


# This servicegroup is used for things we haven't set up on the monitored hosts
# yet, but want to be able to receive data for once we have.
define service {
    name                        tpa_monitored_service_notconfigured
    use                         generic-service
    register                    0
    active_checks_enabled       0
    passive_checks_enabled      1
   check_command                check_dummy!0!"Monitoring not set up yet"
}

define servicegroup {
    servicegroup_name   tpa_monitored_services
    alias               All TPA monitored services
}
