# Read this!:
# http://nagios.sourceforge.net/docs/3_0/objecttricks.html#servic

#####################################
# Hostgroup heirachy
####################################

#
# Do not add customer servers or customer hostgroups as members here. Instead,
# have each server specify multiple hostgroups, e.g.
#
#   hostgroups      customer_landp, postgres_servers
#

define hostgroup {
	hostgroup_name			postgres_bdr_masters
	alias				PostgreSQL BDR master nodes
}

define hostgroup {
	hostgroup_name			postgres_masters
	alias				PostgreSQL master servers
	hostgroup_members		postgres_bdr_masters
}

define hostgroup {
	hostgroup_name			postgres_phys_replicas
	alias				PostgreSQL Physical Streaming and PITR replicas
}

# members must report results for the checks:
# POSTGRES_TXN_WRAPAROUND, POSTGRES_CONNECTION, POSTGRES_BACKENDS, POSTGRES_BLOAT, POSTGRES_DISK_SPACE, POSTGRES_PREPARED_TXNS, POSTGRES_SEQUENCE, POSTGRES_TXN_IDLE, POSTGRES_TXN_TIME, POSTGRES_AUTOVAC_FREEZE
define hostgroup {
	hostgroup_name			postgres_servers
	alias				All PostgreSQL servers
	hostgroup_members		postgres_masters, postgres_phys_replicas
}

################################
# services for postgres_servers 
################################

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_CONNECTION
        check_command           check_dummy!2!"No Postgres connection check results"
}

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_BACKENDS
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_BACKENDS
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_TXN_WRAPAROUND
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_TXN_WRAPAROUND
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_BLOAT
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_BLOAT
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_DISK_SPACE
}

# Yes, disk_space check does depend on postgres_connection because it
# uses Pg to find the tablespaces.
define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_DISK_SPACE
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_PREPARED_TXNS
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_PREPARED_TXNS
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}
define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_SEQUENCE
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_SEQUENCE
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}


define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_TXN_IDLE
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_TXN_IDLE
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}

define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_TXN_TIME
}

define servicedependency {
    hostgroup_name                     postgres_servers
    service_description                POSTGRES_CONNECTION
    dependent_service_description      POSTGRES_TXN_TIME
    execution_failure_criteria         w,u,c
    notification_failure_criteria      w,u,c
}


define service {
        use                     tpa_monitored_service
        hostgroup_name          postgres_servers
        service_description     POSTGRES_AUTOVAC_FREEZE
}

define servicedependency {
    hostgroup_name                      postgres_servers
    service_description                 POSTGRES_CONNECTION
    dependent_service_description       POSTGRES_AUTOVAC_FREEZE
    execution_failure_criteria          w,u,c
    notification_failure_criteria       w,u,c
}


################################
# services for postgres_masters
################################


