#define host {
#	use			rdba_monitored_host
#	host_name		testbrokenhost
#	alias			Intentionally broken host
#	address			10.99.99.99
#	contact_groups		redsmstest
#}
#define service {
#	use			rdba_monitored_service
#	host_name		testbrokenhost
#	service_description	broken-service
#	check_command		check_ping!100.0,20%!200.0,50%
#	contact_groups		redsmstest
#}
