# {{ansible_managed}}
{% if contacts|length == 0 %}
########################################################################
# No customer alerting contacts for {{client_identifier}}
########################################################################

{% else %}
########################################################################
# Customer alerting contacts for {{client_identifier}}
########################################################################

define contact {
    service_notification_options    w,u,c,r,f,s
    host_notification_options       d,u,r,f,s
    service_notification_commands   notify-service-by-email
    host_notification_commands      notify-host-by-email
    service_notification_period     24x7
    host_notification_period        24x7
    name                            {{client_identifier}}_contact_template
    register                        0
}

{% for contact_name in contacts %}
define contact {
    contact_name                    {{contact_name}}
    alias                           {{contacts[contact_name].full_name}} ({{client_name}})
    email                           {{contacts[contact_name].email}}
    use                             {{client_identifier}}_contact_template
}

{% endfor %}
define contactgroup {
    contactgroup_name               customer_{{client_identifier}}
    alias                           {{client_name}}
    members                         {{contacts|join(', ')}}
}


{% endif %}
