{# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved. #}
[Unit]
Description=Postgres {{ postgres_version }} (TPA)
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ postgres_user }}
Group={{ postgres_group }}
OOMScoreAdjust={{ postmaster_oom_score_adj|default(-1000) }}
Environment=PG_OOM_ADJUST_VALUE={{ postgres_oom_score_adj|default(0) }}
Environment=PGDATA={{ postgres_data_dir }}
{% if postgres_service_environment is defined and postgres_service_environment is mapping %}
{%   for k,v in postgres_service_environment.items() %}
Environment={{ k }}={{ v }}
{%   endfor %}
{% endif %}
StandardOutput=syslog
ExecStart={{ _postmaster }} -D ${PGDATA} -c config_file={{ postgres_conf_dir }}/postgresql.conf
{% if postgres_coredump_filter is defined %}
ExecStartPost=/bin/bash -c 'echo {{ postgres_coredump_filter }} > /proc/$MAINPID/coredump_filter'
PermissionsStartOnly=true
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
Restart={{ systemd_restart_postgres_service|default('no') }}
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
