[{{ backup_name }}]
description = "Backups from {{ parent_inventory_hostname|default(inventory_hostname) }}"

ssh_command = "ssh -q postgres@{{ parent_inventory_hostname|default(inventory_hostname) }}"
conninfo = "host={{ parent_inventory_hostname|default(inventory_hostname) }} port={{ postgres_port }} dbname=postgres user=barman"
streaming_conninfo = "host={{ parent_inventory_hostname|default(inventory_hostname) }} port={{ postgres_port }} user=streaming_barman"
streaming_archiver = on
slot_name = barman

backup_method = {{ barman_backup_method }}

barman_parallel_jobs = {{ barman_parallel_jobs }}

{% if barman_backup_method == 'rsync' %}
compression = {{ barman_compression }}
reuse_backup = {{ barman_reuse_backup }}
{% else %}
reuse_backup = off
{% endif %}

{% if barman_pre_archive_retry_script|d() %}
pre_archive_retry_script = "{{ barman_pre_archive_retry_script }}"
{% endif %}

{% if barman_post_backup_retry_script|d() %}
post_backup_retry_script = "{{ barman_post_backup_retry_script }}"
{% endif %}
active = {{ active|lower }}
