{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
#!/bin/bash

test -x /usr/bin/barman || exit 1
{% if barman_volume_mountable|default(false) %}
findmnt {{ barman_home }} &>/dev/null || exit 1
{% else %}
test -d {{ barman_home }} || exit 1
{% endif %}
exit 0
