{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
*:*:*:barman:{{ barman_password|replace("\\","\\\\")|replace(':','\:') }}
*:*:*:streaming_barman:{{ streaming_barman_password|replace("\\","\\\\")|replace(':','\:') }}
