{{ postgres_logfile }} {
	daily
        maxsize 1G
        rotate 7
	missingok
	compress
	dateext
	copytruncate
	create 640 {{ postgres_user }} {{ postgres_group }}
	maxage 28

        su {{ postgres_user }} {{ postgres_group }}
}
