pgxcOwner=postgres
pgxcUser=postgres
tmpDir=/tmp
localTmpDir=$tmpDir

configBackup=n

dataDirRoot=$HOME

#---- GTM ------------------------------------------------------------------------------------
gtmName=gtm

gtmMasterServer={{ cluster_hostname }}
gtmMasterPort=20000
gtmMasterDir=$dataDirRoot/gtm

gtmExtraConfig=none
gtmMasterSpecificExtraConfig=none

gtmSlave=n

#---- GTM Proxy -------------------------------------------------------------------------------------------------------
gtmProxyDir=$dataDirRoot/gtm_pxy

gtmProxy=y

gtmProxyNames=({% for h in groups['tag_role_datanode']|difference(groups['tag_role_gtm']) %}gtm_pxy{{loop.index}}{% endfor %})
gtmProxyServers=({% groups['tag_role_datanode']|difference(groups['tag_role_gtm'])|join(' ') %})
gtmProxyPorts=({% (['20001']*(groups['tag_role_datanode']|difference(groups['tag_role_gtm'])|length))|join(' ') %})
gtmProxyDirs=({% (['$gtmProxyDir']*(groups['tag_role_datanode']|difference(groups['tag_role_gtm'])|length))|join(' ') %})

gtmPxyExtraConfig=none

#---- Coordinators ----------------------------------------------------------------------------------------------------
coordMasterDir=$dataDirRoot/coord_master
coordSlaveDir=$HOME/coord_slave
coordArchLogDir=$HOME/coord_archlog

coordNames=({% for h in groups['tag_role_coordinator'] %}coord{{loop.index}}{% endfor %})
coordPorts=({% (['30000']*(groups['tag_role_coordinator']|length))|join(' ') %})
poolerPorts=({% (['30001']*(groups['tag_role_coordinator']|length))|join(' ') %})
coordPgHbaEntries=(::1/128)

coordMasterServers=({% groups['tag_role_coordinator']|join(' ') %})
coordMasterDirs=({% (['$coordMasterDir']*(groups['tag_role_coordinator']|length))|join(' ') %})
coordMaxWALsender=5
coordMaxWALSenders=({% (['$coordMaxWALsender']*(groups['tag_role_coordinator']|length))|join(' ') %})

coordSlave=n

#---- Configuration files---
coordExtraConfig=coordExtraConfig
cat > $coordExtraConfig <<EOF
#================================================
# Added to all the coordinator postgresql.conf
# Original: $coordExtraConfig
log_destination = 'stderr'
logging_collector = on
log_directory = 'pg_log'
log_line_prefix = '%p:%v:%x:%m:%C:%R'
#trace_locks = true
listen_addresses = '*'
max_connections = 100
max_prepared_transactions = 100
hot_standby = off
log_min_messages=debug1
log_min_duration_statement=0
log_error_verbosity=verbose
#autovacuum=off
EOF

coordSpecificExtraConfig=(none none)
coordSpecificExtraPgHba=(none none)

#---- Datanodes -------------------------------------------------------------------------------------------------------
datanodeMasterDir=$dataDirRoot/dn_master
datanodeSlaveDir=$dataDirRoot/dn_slave
datanodeArchLogDir=$dataDirRoot/datanode_archlog

primaryDatanode=datanode1
datanodeNames=({% for h in groups['tag_role_datanode']|difference(groups['tag_role_coordinator']) %}datanode{{loop.index}}{% endfor %})
datanodePorts=({% (['40000']*(groups['tag_role_datanode']|difference(groups['tag_role_coordinator'])|length))|join(' ') %})
datanodePoolerPorts=({% (['40001']*(groups['tag_role_datanode']|difference(groups['tag_role_coordinator'])|length))|join(' ') %})
datanodePgHbaEntries=(::1/128)

datanodeMasterServers=({% groups['tag_role_coordinator']|join(' ') %})
datanodeMasterDirs=({% (['$datanodeMasterDir']*(groups['tag_role_datanode']|difference(groups['tag_role_coordinator'])|length))|join(' ') %})
datanodeMaxWalSender=5
datanodeMaxWALSenders=({% (['$datanodeMasterDir']*(groups['tag_role_datanode']|difference(groups['tag_role_coordinator'])|length))|join(' ') %})

datanodeSlave=n

datanodeExtraConfig=datanodeExtraConfig	
cat > $datanodeExtraConfig <<EOF
#================================================
# Added to all the datanode postgresql.conf
# Original: $datanodeExtraConfig
log_destination = 'stderr'
logging_collector = on
log_directory = 'pg_log'
log_line_prefix = '%p:%v:%x:%m:%C:%R'
#trace_locks = true
listen_addresses = '*'
max_connections = 100
max_prepared_transactions = 100
hot_standby = off
log_min_messages=debug1
log_min_duration_statement=0
log_error_verbosity=verbose
#autovacuum=off
EOF
