{# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved. #}
---

instances:
{% for n in range(1, num_shard_groups*instances_per_shard+1) %}
  - node: {{ n }}
    Name: {{ hostnames[n] }}
    location: {{ (n is even)|ternary(1, 0) }}
    role:
      - bdr
{% endfor %}
