---

version: 2

updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "dependabot"
      - "pip dependencies"
    open-pull-requests-limit: 5
    pull-request-branch-name:
      separator: "/"
    reviewers:
      - "EnterpriseDB/tpaexec-dev-team"

  - package-ecosystem: "github-actions"
    directories:
      - "/.github/actions"
      - "/.github/workflows"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "dependabot"
      - "github actions dependencies"
    open-pull-requests-limit: 5
    pull-request-branch-name:
      separator: "/"
    reviewers:
      - "EnterpriseDB/tpaexec-dev-team"
