.git
requirements*.in
requirements
*.pyc
.env
.tox
.coverage
nosetests.xml
coverage.xml
*.log
.git
.github
tox.ini
sonar-project.properties
runtime.txt
pyrightconfig.json
Dockerfile
.yamllint.yaml
.prospector.yaml
.idea
.gitignore
.gitattributes
.git-ignore-revs
.editorconfig
.dockerignore
.coveragerc
.ansible-lint
.actrc
docs
tpa-ee
tpa-venv
relnotes
release_notes