[defaults]
nocows = 1
nocolor = 1
filter_plugins = lib/filter_plugins
hostfile = ./inventory/static

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
pipelining=True
