[defaults]
nocows = 1
nocolor = 0
gathering = explicit
roles_path = ./roles
hostfile = ./inventory/static
filter_plugins = ./lib/filter_plugins
lookup_plugins = ./lib/lookup_plugins
deprecation_warnings = False
jinja2_extensions = jinja2.ext.with_

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
#pipelining=True
