[defaults]
nocows = 1
nocolor = 0
gathering = explicit
private_role_vars = yes
command_warnings = False
deprecation_warnings = False
jinja2_extensions = jinja2.ext.with_
squash_actions = 
timeout = 120
forks = 16

[inventory]
unparsed_is_failed = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
pipelining=True
