# IMPORTANT
#
# This is an .ini-style configuration file; values should *not* be enclosed in
# single or double quotes, as those will be treated as literal characters.

[harp]

# path within the consensus store where HARP stores information
# Default "/harp"
#namespace = /harp

# Name of the location (DC) where this node is located
location = {{ harp_location|default(location) }}

# DSN of managed BDR Node
postgres_dsn = {{ bdr_node_dsn }}

# Name of the managed BDR node (as used when executing bdr.create_node(node_name, ...))
node_name = {{ inventory_hostname }}

# 1 or 0 to indicate whether this node is allowed to take the Lead Master lock.
# Default 1.
allow_lead = {{ harp_allow_lead|default(1 if inventory_hostname in first_bdr_primary_candidates else 0) }}

# Time in milliseconds to require before routing to a newly promoted Lead Master is allowed.
# 0 to disable.
safety_interval = {{ harp_safety_interval|default(default_harp_safety_interval) }}

consensus_protocol = {{ harp_consensus_protocol|default('bdr') }}
{% if harp_consensus_protocol == 'etcd' %}
# Comma-delimited host:port location(s) of consensus pool entrypoints
consensus_hostnames = {%- for h in groups['role_etcd'] -%}
{%- set node_loc = hostvars[h].harp_location|default(hostvars[h].location) -%}
{%- if node_loc == harp_location|default(hostvars[h].location) -%}
{{h}}:2379,
{%- endif -%}
{% endfor %}
{% endif %}

# If not set, writes to STDOUT
#log_location = 

# One of the levels defined here:
#   https://docs.python.org/3/library/logging.html#levels
# Default is INFO
#log_level = INFO

[manager]

# Highest allowable variance between last recorded LSN of previous Lead Master and this node,
# in bytes.
maximum_lag = {{ harp_maximum_lag|default(default_harp_maximum_lag) }}

# Highest allowable variance between last received LSN and applied LSN between this node and its CAMO
# partner(s), in bytes.
maximum_camo_lag = {{ harp_maximum_camo_lag|default(default_harp_maximum_camo_lag) }}

# How many seconds the Lead Master lock will persist if not refreshed.
lock_duration = {{ harp_lock_duration|default(default_harp_lock_duration) }}

# Seconds between refreshes of the Lead Master lock.
lock_interval = {{ harp_lock_interval|default(default_harp_lock_interval) }}

# Seconds between refreshes of Lead Master locks for locations other than our own.
# Can be used for inter-location failover. 0 to disable.
external_lock_interval = {{ harp_external_lock_interval|default(default_harp_external_lock_interval) }}

[router]

listen_addr = 0.0.0.0
listen_port = {{ harp_listen_port }}
