# If you want to override any settings defined in the default TPA
# configuration, do so here. This file will take precedence, and
# will not be overwritten automatically.
#
# https://www.postgresql.org/docs/{{ pgversion }}/static/runtime-config.html
#

