track_commit_timestamp = on
bdr.conflict_logging_include_tuples = on
bdr.log_conflicts_to_table = on
bdr.synchronous_commit = off
bdr.max_ddl_lock_delay = -1
bdr.ddl_lock_timeout = -1
bdr.permit_ddl_locking = on
bdr.trace_ddl_locks_level = 'statement'
