127.0.0.1	localhost
::1             localhost ip6-localhost ip6-loopback

{% set v = {} %}{% for h in play_hosts -%}{{ v.update({h:hostvars[h].node|int}) }}{% endfor %}{% for h,n in v|dictsort(false,'value') %}
{{ hostvars[h].private_ip + ' ' + hostvars[h].cluster_hostname }}
{% endfor %}
