{% for h in play_hosts %}
{% for k in ['rsa', 'ecdsa'] %}
{{ hostvars[h].public_ip }} {{ lookup('file', playbook_dir+'/hostkeys/ssh_host_'+k+'_key_'~hostvars[h].node~'.pub') }}
{{ hostvars[h].private_ip }} {{ lookup('file', playbook_dir+'/hostkeys/ssh_host_'+k+'_key_'~hostvars[h].node~'.pub') }}
{{ hostvars[h].cluster_hostname }} {{ lookup('file', playbook_dir+'/hostkeys/ssh_host_'+k+'_key_'~hostvars[h].node~'.pub') }}
{% endfor %}
{% endfor %}
