---

- name: Ensure rsyslog service is enabled on boot
  service:
    name: rsyslog
    enabled: yes

- meta: flush_handlers

- name: Restart rsyslog
  service:
    name: rsyslog
    state: "{{ rsyslog_service_end_state|default('started') }}"
