---
default:
  cpu_architecture: &default_cpu_architecture
    - "amd64"
  tpa_architecture: &default_tpa_architecture
    - "M1"
    - "BDR-Always-ON"
    - "PGD-Always-ON"
  tpa_platform:
    - "docker"
  tpa_os_image:
    - "ubuntu:20.04"
    - "ubuntu:22.04"
    - "debian:12"
    - "redhat:8"
    - "redhat:9"
    - "sles:15"
  tpa_postgres_flavour: &default_tpa_postgres_flavour
    - "postgresql"
    - "pgextended"
    - "epas"
    - "edbpge"
  tpa_postgres_version: &default_tpa_postgres_version
    - 16
    - 14
  tpa_harp_consensus_protocol:
    - "bdr"
    - "etcd"
  exclude:
    - tpa_architecture: "M1"
      tpa_postgres_version: "14"
    - tpa_architecture: "PGD-Always-ON"
      tpa_postgres_version: "14"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_version: "16"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_version: "14"
      tpa_os_image: "debian:12"
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "pgextended"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_flavour: "postgresql"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_flavour: "edbpge"
    - tpa_architecture: "PGD-Always-ON"
      tpa_postgres_flavour: "postgresql"
    - tpa_architecture: "PGD-Always-ON"
      tpa_postgres_flavour: "pgextended"
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "edbpge"
    - tpa_os_image: "sles:15"
      tpa_architecture: "BDR-Always-ON"
    - tpa_harp_consensus_protocol: "etcd"
      tpa_architecture: "M1"
    - tpa_harp_consensus_protocol: "etcd"
      tpa_architecture: "PGD-Always-ON"
  include:
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "postgresql"
      tpa_failover_manager: "repmgr"
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "epas"
      tpa_failover_manager: "efm"
    - cpu_architecture: "ppc64le"
      tpa_architecture: "M1"
      tpa_os_image: "redhat:9"
      tpa_platform: "docker"
      tpa_postgres_flavour: "postgresql"
      tpa_postgres_version: "14"
      tpa_failover_manager: "efm"
    - cpu_architecture: "arm64"
      tpa_architecture: "M1"
      tpa_os_image: "debian:12"
      tpa_platform: "docker"
      tpa_postgres_flavour: "epas"
      tpa_postgres_version: "15"
      tpa_failover_manager: "efm"
simple:
  cpu_architecture: *default_cpu_architecture
  tpa_architecture: *default_tpa_architecture
  tpa_postgres_flavour: *default_tpa_postgres_flavour
  tpa_postgres_version: *default_tpa_postgres_version
  exclude:
    - tpa_architecture: "M1"
      tpa_postgres_version: "14"
    - tpa_architecture: "PGD-Always-ON"
      tpa_postgres_version: "14"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_version: "16"
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "pgextended"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_flavour: "postgresql"
    - tpa_architecture: "BDR-Always-ON"
      tpa_postgres_flavour: "edbpge"
    - tpa_architecture: "PGD-Always-ON"
      tpa_postgres_flavour: "postgresql"
    - tpa_architecture: "PGD-Always-ON"
      tpa_postgres_flavour: "pgextended"
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "edbpge"
  include:
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "postgresql"
      tpa_failover_manager: "repmgr"
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "epas"
      tpa_failover_manager: "efm"
aws:
  tpa_postgres_flavour:
    - "postgresql"
    - "epas"
  tpa_os_image:
    - "debian:12"
    - "debian-arm:12"
  tpa_postgres_version:
    - 15
    - 16
update_bdr:
  cpu_architecture: *default_cpu_architecture
  tpa_architecture:
    - "BDR-Always-ON"
  tpa_platform:
    - "docker"
  tpa_os_image:
    - "ubuntu"
    - "redhat"
patroni:
  cpu_architecture: *default_cpu_architecture
  tpa_architecture:
    - M1
  tpa_platform:
    - docker
  tpa_os_image:
    - "ubuntu:20.04"
    - "debian:11"
    - "debian:12"
    - "redhat:8"
    - "redhat:9"
  tpa_postgres_flavour:
    - "postgresql"
    - "epas"
    - "edbpge"
  tpa_postgres_version: *default_tpa_postgres_version
m1_layouts:
  cpu_architecture: *default_cpu_architecture
  tpa_architecture:
    - "M1"
  tpa_postgres_flavour:
    - "postgresql"
  tpa_postgres_version: *default_tpa_postgres_version
  tpa_platform:
    - docker
  tpa_failover_manager:
    - "efm"
    - "repmgr"
  layout:
    - tpa_location_names: "l1"
      tpa_data_nodes_per_location: 2
    - tpa_location_names: "l1 l2"
      tpa_data_nodes_per_location: 2
      tpa_single_node_location: true
    - tpa_location_names: "l1 l2"
      tpa_data_nodes_per_location: 2
    - tpa_location_names: "l1 l2 l3"
      tpa_data_nodes_per_location: 3
      tpa_witness_only_location: true
    - tpa_location_names: "l1 l2 l3"
      tpa_data_nodes_per_location: 1
    - tpa_location_names: "l1 l2 l3"
      tpa_data_nodes_per_location: 3
  include:
    - tpa_architecture: "M1"
      tpa_postgres_flavour: "postgresql"
      tpa_postgres_version: 14
      tpa_platform: "docker"
      tpa_failover_manager: "patroni"
      layout:
        tpa_location_names: "l1"
        tpa_data_nodes_per_location: 2
