{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
#!/bin/bash

set -e -u -x

{{ postgres_bin_dir }}/repmgr standby promote -f "{{ repmgr_conf_file }}"

set +e

{% if repmgr_redirect_pgbouncer|default(false) %}
{%   if inventory_hostname in groups['role_pgbouncer'] %}
bash -c "sed -e 's,host=[^ ]* port=[^ ]*,{{ node_dsn }},' -i /etc/pgbouncer/pgbouncer.databases.ini && killall -HUP pgbouncer"
{%   endif %}
{%   for instance in groups['role_pgbouncer']|reject('equalto', inventory_hostname)|list %}
/usr/bin/ssh {{ instance }} "sed -e 's,host=[^ ]* port=[^ ]*,{{ node_dsn }},' -i /etc/pgbouncer/pgbouncer.databases.ini && killall -HUP pgbouncer" &
{%   endfor %}
{% endif %}
