{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
#!/bin/bash

set -e -u -x

{{ postgres_bin_dir }}/repmgr standby promote -f "{{ repmgr_conf_file }}"

set +e

{% if repmgr_redirect_pgbouncer|default(false) and 'role_pgbouncer' in groups %}
{%   if inventory_hostname in groups['role_pgbouncer'] %}
bash -c "sed -e 's,host=[^ ]* port=[^ ]*,{{ node_dsn }},' -i /etc/pgbouncer/pgbouncer.databases.ini && pkill -HUP -x pgbouncer"
{%   endif %}
{%   for instance in groups['role_pgbouncer']|reject('equalto', inventory_hostname)|list %}
/usr/bin/ssh {{ instance }} "sed -e 's,host=[^ ]* port=[^ ]*,{{ node_dsn }},' -i /etc/pgbouncer/pgbouncer.databases.ini && pkill -HUP -x pgbouncer" &
{%   endfor %}
{% endif %}
