node_id={{ node }}
node_name={{ inventory_hostname }}
conninfo='host={{ inventory_hostname }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory={{ postgres_data_dir }}
pg_bindir={{ postgres_bin_dir }}
{% if repmgr_priority is defined %}
priority={{ repmgr_priority }}
{% endif %}
{% if repmgr_location is defined and repmgr_location != '' %}
location={{ repmgr_location }}
{% endif %}
replication_type=physical
use_replication_slots={{ repmgr_use_slots }}
async_query_timeout=60
reconnect_attempts=6
reconnect_interval=10
failover={{ repmgr_failover }}
ssh_options=-q
promote_command='{{ repmgr_conf_dir }}/promote_command.sh'
follow_command='{{ repmgr_conf_dir }}/follow_command.sh'
{% if upstream_backedup != '' %}
restore_command='/usr/bin/barman-wal-restore -U barman -z -p 8 {{ hostvars[upstream_backedup].backup }} {{ hostvars[upstream_backedup].backup_name }} %f %p'
{% endif %}

service_start_command = sudo systemctl start {{ postgres_service_name }}
service_stop_command = sudo systemctl stop {{ postgres_service_name }}
service_restart_command = sudo systemctl restart {{ postgres_service_name }}
service_reload_command = sudo systemctl reload {{ postgres_service_name }}
