[Unit]
Description=A replication manager, and failover management tool for PostgreSQL
After=syslog.target
After=network.target
After=postgresql-{{ postgres_version }}.service

[Service]
Type=forking

User=postgres
Group=postgres

# PID file
PIDFile=/var/run/repmgr/repmgrd-{{ postgres_version }}.pid

# Location of repmgr conf file:
Environment=REPMGRDCONF={{ repmgr_conf_dir }}/repmgr.conf
Environment=PIDFILE=/var/run/repmgr/repmgrd-{{ postgres_version }}.pid

# Where to send early-startup messages from the server 
# This is normally controlled by the global default set by systemd
# StandardOutput=syslog
ExecStart={{ postgres_bin_dir }}/repmgrd -f ${REPMGRDCONF} -p ${PIDFILE} -d --verbose 
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
