
#######################################################
# Customer alerting contacts
#######################################################

define contact {
        service_notification_options    w,u,c,r,f,s
        host_notification_options       d,u,r,f,s
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        service_notification_period     24x7
        host_notification_period        24x7
        name                            2ndq_contact_template
        register                        0
}


#######################################################
#  Host and service groups
#######################################################

define hostgroup {
	hostgroup_name	2ndQ_servers
	alias		2ndQuadrant servers
}

#######################################################
#  Hosts
#######################################################

define host {
	use		rdba_monitored_host
	name		2ndq_monitored_host
	alias		2ndQuadrant hosts
	hostgroups 	2ndQ_servers
	contact_groups	support_engineers_notifications
	register	0
}

define host {
	use         	2ndq_monitored_host
    	host_name   	rdba.2ndquadrant.com
    	alias       	2ndQ primary server
	hostgroups      2ndQ_servers, postgres_servers
}

define host {
	use		2ndq_monitored_host
	host_name       barman-backups.2ndquadrant.com
	alias		2ndQ backup server (BDR, PgBarman)
	hostgroups      2ndQ_servers, postgres_servers
}

#######################################################
#  Alert routing
#######################################################

# We use host and service escalations for specific alerts, because these can be
# defined across a group of hosts and servies.

define serviceescalation {
	service_description		*
	hostgroup_name			2ndQ_servers
	first_notification		1
	last_notification		0
	notification_interval		60
	contacts			craig
}

#######################################################
#  Misc
#######################################################

#
#define service {
#	use			2ndQ_monitored_service
#	service_description	POSTGRES_LAST_AUTOVACUUM
#}
#
#define service {
#	use			2ndQ_monitored_service
#	hostgroup_name		2ndQ_servers
#	service_description	POSTGRES_LAST_AUTOANALYZE


define service {
       use                     rdba_monitored_service
       host_name 	       rdba.2ndquadrant.com
       service_description     CERTIFICATE_EXPIRE
}
