define hostescalation {
	hostgroup_name			tpa_monitored_hosts
	contact_groups			support_engineers_escalations
	first_notification		3
	last_notification		3
}

define hostescalation {
	hostgroup_name			tpa_monitored_hosts
	contact_groups			support_engineers_escalations
	first_notification		5
	last_notification		10
	notification_interval		30
}

# define serviceescalation {
# 	hostgroup_name			tpa_monitored_hosts
# 	service_description		*
# 	first_notification		3
# 	last_notification		3
# 	escalation_options		u,c,r
# 	contact_groups			support_engineers_escalations,support_engineers_notifications
# }
# 
# define serviceescalation {
# 	hostgroup_name			tpa_monitored_hosts
# 	service_description		*
# 	first_notification		4
# 	last_notification		0
# 	notification_interval		60
# 	escalation_options		u,c,r
# 	contact_groups			support_engineers_escalations,support_engineers_notifications
# }
