client

remote {{ hostvars[vpn_server_hostname].public_ip }} 1194

dev tun
proto udp

ca /etc/tpa/openvpn/{{ cluster_name }}-root-CA.pem
cert /etc/tpa/openvpn/{{ cluster_name }}-{{ inventory_hostname }}.crt
key  /etc/tpa/openvpn/{{ cluster_name }}-{{ inventory_hostname }}.key
tls-auth /etc/tpa/openvpn/{{ cluster_name }}-ta.key 1

nobind
comp-lzo
user nobody
group {% if ansible_distribution == 'redhat' %} nobody {% else %} nogroup {% endif %}
keepalive 10 30
ns-cert-type server
resolv-retry infinite
persist-key
persist-tun

log-append /var/log/openvpn.log
