server {{ vpn_network|ipaddr("network") }} {{ vpn_network|ipaddr("netmask") }}

local 0.0.0.0
port 1194

dev tun
proto udp

dh {{ vpn_dir }}/dh4096.pem
ca {{ vpn_dir }}/root-CA.pem
cert {{ vpn_dir }}/{{ inventory_hostname }}.crt
key  {{ vpn_dir }}/{{ inventory_hostname }}.key
tls-auth {{ vpn_dir }}/ta.key 0

client-config-dir {{ vpn_dir }}/ccd
ifconfig-pool-persist {{ vpn_dir }}/ipp.txt

comp-lzo
user nobody
group {% if ansible_distribution == 'redhat' %} nobody {% else %} nogroup {% endif %}
keepalive 10 300
tls-timeout = 120s
client-to-client
persist-key
persist-tun

log-append /var/log/openvpn.log
