# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                peer
local   all             all                                     trust
host    all             all             127.0.0.1/32            trust
host    all             all             ::1/128                 trust
host    postgres        all             0.0.0.0/0               md5
host    replication     all             192.168.61.0/24         trust
host    repmgr          repmgr          192.168.61.0/24         trust
