{# Copyright © EnterpriseDB Corporation #}
client

remote {{ hostvars[openvpn_server].public_ip }} 1194

dev tun
proto udp

ca {{ openvpn_config }}/ca.crt
key {{ openvpn_config }}/{{ inventory_hostname }}.key
cert {{ openvpn_config }}/{{ inventory_hostname }}.crt
tls-auth {{ openvpn_config }}/ta.key 1

nobind
comp-lzo
user nobody
{% if ansible_distribution == 'RedHat' %}
group nobody
{% else %}
group nogroup
{% endif %}
keepalive 10 30
remote-cert-tls server
resolv-retry infinite
persist-key
persist-tun

log-append /var/log/openvpn.log
