---

- name: Generate /etc/hosts
  template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644

- name: Disable manage_etc_hosts in cloud.cfg
  copy:
    dest: /etc/cloud/cloud.cfg.d/99_hosts.cfg
    owner: root
    group: root
    mode: 0644
    content: >-
      manage_etc_hosts: False

# We pre-generate /etc/ssh/ssh_known_hosts to allow ssh between cluster
# instances without host key verification prompts. We must skip this if
# for some reason we do not have known host keys for the instances.
#
# (We used to build up known-hosts on each instance using ssh-keyscan,
# but the first significant XL deployments showed that this was far too
# slow. Generating the file locally is the only approach with acceptable
# performance for more than a couple of instances.)

- name: Install global ssh known hosts file
  template:
    src: known_hosts.j2
    dest: /etc/ssh/ssh_known_hosts
    owner: root
    group: root
    mode: 0644
  when:
    lookup('pipe', hostkeys) == 'exists'
  vars:
    hostkeys: >
      test -d {{ playbook_dir }}/hostkeys && echo exists; true
