---
{% include 'preamble.yml.j2' %}
{{ dict(cluster_vars=cluster_vars)|to_nice_yaml(indent=2) }}
instance_defaults:
{% include 'instance_defaults.yml.j2' %}
  vars:
    ansible_user: {{ image_user|default('root') }}

instances:
  - node: 1
    Name: {{ hostnames[1] }}
    role: primary
{% include 'instance.yml.j2' %}

  - node: 2
    Name: {{ hostnames[2] }}
    role: replica
    upstream: {{ hostnames[1] }}
    backup: {{ hostnames[3] }}
{% include 'instance.yml.j2' %}

  - node: 3
    Name: {{ hostnames[3] }}
    role:
      - barman
      - log-server
      - openvpn-server
      - monitoring-server
{% if (cascaded_replicas+2) % 2 == 0 %}
      - witness
{% endif %}
{% if platform not in ['bare'] %}
    volumes:
        - device_name: /dev/xvdb
          volume_type: gp2
          volume_size: {{ barman_volume_size }}
          vars:
            volume_for: barman_data
{% endif %}
{% include 'instance.yml.j2' %}

{% for i in range(4,4+cascaded_replicas) %}
  - node: {{ i }}
    Name: {{ hostnames[i] }}
    role: replica
    upstream: {{ hostnames[2] }}
{% include 'instance.yml.j2' %}
{% endfor %}
