



body { font-family: 'FontAwesome' }
svg { font-weight: normal; border: "thick solid #aaaaaa"; }

.logo img { position: absolute; top: 0px; right: 0px; width: 200; height: 50;}
.logo { position: relative; }

.horizontalGrid { stroke: #eeeeff; fill: none; stroke-dasharray: "100, 10";}

/* Diagram objects */

.node { stroke: royalblue; fill: royalblue;}
.edge { stroke: green; fill:none; stroke-width: 3; }
.icon { fill: #3F5217; stroke: #090D00; }

/* TPA objects */

.cluster_view { font-weight: normal; border: "thick solid #aaaaaa"; }
.container_shape { fill: #c0c0c0; stroke: none; }
.instance .name { stroke: #010409; fill: #010409; font-size: 100%;}
.role { font-size: 85%; font-weight: normal; stroke: white; fill: white; }
