// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=7000G0ktEoOkhvnpBt9wzklFWfb */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-danger-0: #C60F0F;	// Main Primary color */
$color-danger-1: #FA5C5C;
$color-danger-2: #E82E2E;
$color-danger-3: #A20000;
$color-danger-4: #790000;

$color-warning-0: #C6750F;	// Main Secondary color (1) */
$color-warning-1: #FAB45C;
$color-warning-2: #E8962E;
$color-warning-3: #A25A00;
$color-warning-4: #794300;

$color-inactive-0: #10537E;	// Main Secondary color (2) */
$color-inactive-1: #417AA0;
$color-inactive-2: #256995;
$color-inactive-3: #064168;
$color-inactive-4: #03304D;

$color-normal-0: #0C9E0C;	// Main Complement color */
$color-normal-1: #49C849;
$color-normal-2: #25BA25;
$color-normal-3: #008200;
$color-normal-4: #006100;
