

@import "./colorscheme";
@import "./colorscheme-alert";
@import "./_variables.scss";

.diagram {
    width: 100%;
    min-height: 100%;
    background-color: white;

    .background-grid {
        stroke: #eeeeff;
        fill: none;
        stroke-dasharray: 3, 1, 1, 1;
    }

    .selection {
        fill: none;
        stroke: $color-secondary-2-0;
        stroke-dasharray: 3, 2;
    }

    text {
        fill: $color-primary-4;
        stroke: $color-primary-4;
        font-weight: normal;
    }

    .node {
        text {
            font-weight: lighter;
            font-family: $headings-font-family;
        }

        .icon {
            fill: #ffffff;
            stroke: $color-normal-4;
            stroke-width: 3;
        }
    }

    .edge {
        stroke: $color-normal-4;
        fill: none;
        stroke-width: 3;
    }
}

.cluster_diagram {
    @extend .diagram;

    /* TPA objects */

    .zone {
        text {
            stroke: $color-complement-1;
            fill: $color-complement-1;
            font-size: $font-size-h3;
        }

        line { stroke: $color-complement-1; }
    }

    .role {
        font-size: 80%;
        fill: black;
        stroke: black;
    }
}

.cluster_detail_panel {
//    padding-left: $padding-small-horizontal;
//    padding-right: $padding-small-horizontal;
//    padding-top: $padding-small-vertical;
//    padding-bottom: $padding-small-vertical;

//    color: $color-primary-3;
//   background: $color-complement-4;
    margin-bottom: 0;

    .container-fluid {
        width: 100%;

        .row {
            width: 100%;
        }
    }

    .attr_name {
        font-weight: bold;
        font-size: $font-size-h6;
        font-family: $headings-font-family;
        //color: $color-primary-1;
        // padding-left: $padding-xs-horizontal;
        // padding-right: $padding-xs-horizontal;
    }

    .attr_value {
        // background: $color-complement-3;
    }
}
