

@import "./colorscheme";
@import "./colorscheme-alert";

body { font-family: 'FontAwesome' }

/* Diagram objects */

.cluster_diagram {
    font-weight: normal;
    border: "thick solid #aaaaaa";
    width: 100%;
    min-height: 100%;
    background-color: white;
}

.cluster_detail_panel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    height: 120px;
    color: #ffffff;
    background: $color-primary-4;
}

.diagram {
    .background-grid {
        stroke: #eeeeff;
        fill: none;
        stroke-dasharray: 3, 1, 1, 1;
    }

    .selection {
        fill: none;
        stroke: $color-secondary-2-0;
        stroke-dasharray: 3, 2;
    }

    text {
        fill: black;
        stroke: black;
        font-weight: normal;
    }

    .node {
        text {
            font-weight: lighter;
        }

        .icon {
            fill: #ffffff;
            stroke: $color-normal-4;
            stroke-width: 3;
        }

        text.name {
            // stroke: $color-complement-2;
            // fill: $color-complement-2;
        }
    }

    .edge {
        stroke: $color-normal-4; fill: none; stroke-width: 3;
    }


    /* TPA objects */

    .zone {
        text {
            stroke: $color-complement-1;
            fill: $color-complement-1;
            font-size: 150%;
        }

        line { stroke: $color-complement-1; }
    }

    .role {
        font-size: 80%;
        fill: black;
        stroke: black;
    }
}
