---

- include_role: name=sys/fs
  vars:
    device: "{{ item.device }}"
    mountpoint: "{{ item.mountpoint }}"
    encryption: "{{ item.encryption|default('none') }}"
    luks_volume: "{{ item.luks_volume|default(item.device|basename) }}"
  with_items:
    "{{ volumes }}"
