---

# Copyright © EnterpriseDB Corporation

# We wait for each instance's reachability check to pass.
#
# This is normally quite fast, but some instances may take a long time
# to become reachable (or it may never happen). For more details, see:
#
# http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/monitoring-system-instance-status-check.html
# http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/TroubleshootingInstances.html
#
# (Note that it's also possible that just trying repeatedly to ssh into
# the instance will get us in faster than waiting for the checks to pass
# will—but that's only when we can get in at all. On the whole, this has
# caused enough debugging problems that it's worth waiting longer.)

- name: Wait for instance reachability checks to pass
  ec2_instance_status:
    instance_id: "{{ ec2_id }}"
    region: "{{ ec2_region }}"
  register: i
  until: >
    i is not successful
    or (i.request_status == 'ok'
    and i.system_status.status == 'ok'
    and i.instance_status.status == 'ok'
    and i.instance_state.name == 'running'
    and i.system_status|json_query("details[?name=='reachability'].status|[0]") == 'passed'
    and i.instance_status|json_query("details[?name=='reachability'].status|[0]") == 'passed')
  retries: 60
  delay: 10
  become: no
  delegate_to: localhost
  check_mode: no
