<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TPA: Cluster View</title>

       <!-- MetisMenu CSS -->
    <link href="assets/css/lib/metisMenu.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/css/lib/font-awesome.css" rel="stylesheet" type="text/css">
<style>
#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
</head>
<body>
    <div id="cover"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TPA</a>
          <a class="navbar-brand" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i>
              Clusters
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <span class="cluster_name"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <span class="navbar-right nav-buttons">
                <button type="button" class="btn btn btn-primary next-cluster navbar-btn"><i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary navbar-btn"><i class="glyphicon glyphicon-menu-hamburger"></i>
                </button></span>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- LOGIN FORM -->
    <div id="LoginForm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Login to TPA</h3>
                </div>
                <form class="login_form">
                    <div class="modal-body">
                        <p><input type="text" class="username" name="username" placeholder="Username"></p>
                        <p><input type="password" class="password" name="password" placeholder="Password"></p>
                    </div>
                    <div class="modal-footer">
                        <p><button type="submit" class="btn btn-primary">Sign in</button>
                        <!-- <a href="#">Forgot Password?</a> -->
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- LOGIN FORM END -->

    <div class="container-fluid">
        <div class="cluster_diagram"></div>
    </div><!-- /#wrapper -->
</body>
</html>
