<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta id="login-required">
    <title>TPA: Clusters</title>

       <!-- MetisMenu CSS -->
    <link href="/assets/css/lib/metisMenu.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/css/lib/font-awesome.css" rel="stylesheet" type="text/css">
<style>
#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
body { visibility: hidden; }
</style>
</head>
<body>
    <div id="cover"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/assets/images/2q-logo-nav.png" width="148" height="40"></a>
          <a class="navbar-brand" href="#">TPA</a><a class="navbar-brand" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i>
              Clusters
              </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <span class="navbar-right nav-buttons">
                <button type="button" class="btn navbar-btn btn-sm cluster_create">New Cluster</button>
                <button type="button" class="btn navbar-btn btn-sm cluster_import">Import</button>
                <div class="btn-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary navbar-btn current_user_btn dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i><span class="caret"></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item list-group-item" href="#">(Current User Name)</a>
                            <a class="dropdown-item list-group-item user_invite" href="#">Invite</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item list-group-item" href="#">Logout</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary navbar-btn"><i class="glyphicon glyphicon-menu-hamburger"></i>
                </button></span>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container-fluid"</div>
        <div class="main_content">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="cluster_list"></div>
                </div>
            </div>
        </div>

        <!-- Invite dialog -->
        <div id="user_invite_dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="user_invite form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Invite someone to TPA</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" placeholder="Email" id="email" class="form-control email">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Cluster upload -->
        <div id="cluster_import_dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="cluster_import form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Import a cluster design</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" placeholder="Tenant" class="form-control tenant col-xs-4">
                                <input type="file" class="form-control config_yml col-sm-2">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Import</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Cluster create -->
        <div id="cluster_create_dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="cluster cluster_create form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Create a new TPA cluster</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" placeholder="Name (optional)" class="name form-control">
                            </div>
                            <div class="form-group">
                                <div id="cluster-carousel"></div>
                            </div>
                            <div class="form-group">
                                <select class="template form-control col-xs-4"></select>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Tenant(optional)" class="tenant form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Import</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
