<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="TPA login screen.">
    <meta name="author" content="2ndQuadrant">
    <link rel="icon" href="/favicon.ico">

    <title>TPA: Welcome</title>
</head>
  <body>
    <div id="cover"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/assets/images/2q-logo-nav.png" width="148" height="40"></a>
          <a class="navbar-brand" href="#">Trusted PostgreSQL Architecture</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right login_form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control username">
              <input type="hidden" class="on-success-redirect" value="/cluster.html">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control password">
            </div>
            <button type="submit" class="btn btn-success">Sign In</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to 2ndQuadrant TPA</h2>
        <p>Thanks for your interest! Access is currently limited to invited users only.</p>
      </div>
    </div>

    <div class="navbar-fixed-bottom footer">
      <hr>
      <div class="container-fluid">
          <p class="text-right">(c) 2001-2017 2ndQuadrant Ltd // All rights reserved // <a href="https://2ndquadrant.com/privacy-policy/">Privacy Policy</a></p>
      </div>
    </div>
  </body>
</html>
