if $programname == 'postgres' then {
    action(
        type="omfile"
        DirOwner="{{ postgres_user }}"
        DirGroup="{{ postgres_group }}"
        DirCreateMode="0750"
        FileOwner="{{ postgres_user }}"
        FileGroup="{{ postgres_group }}"
        FileCreateMode="0640"
        File="/var/log/postgres/postgres.log"
    )
{% if log_server is not defined %}
    stop
{% endif -%}
}
