{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
# An on-disk queue is created for this action. If the remote host is
# down, messages are spooled to disk and sent when it is up again.

$ActionQueueFileName tpafwd
$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
$ActionQueueType LinkedList   # run asynchronously
$ActionResumeRetryCount -1    # infinite retries if host is down

if $programname == 'postgres' then @@{{hostvars[log_server].ip_address}}:601
if $programname == 'pgbouncer' then @@{{hostvars[log_server].ip_address}}:601
if $programname == 'repmgr' then @@{{hostvars[log_server].ip_address}}:601
if $programname == 'harp_manager' then @@{{hostvars[log_server].ip_address}}:601
if $programname == 'harp_proxy' then @@{{hostvars[log_server].ip_address}}:601
