---

# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved.

- name: Install yumdownloader (yum-utils) and createrepo
  package:
    name:
      - yum-utils
      - createrepo

- name: Install modulemd-tools to work with modular dnf/yum packages
  package:
    name:
      - modulemd-tools
  when:
    ansible_distribution_major_version|int >= 8

- name: Download packages and dependencies with yumdownloader (for {{ ansible_distribution }} {{ ansible_distribution_major_version }})
  command: >
    yumdownloader
      --destdir "{{ _download_dir }}"
      --resolve
      {{ (ansible_distribution_major_version|int > 7)|ternary(_opts_8, _opts_7) }}
      {{ package_list|map('quote')|join(' ') }}
  register: _yum_download
  vars:
    _opts_7: "--archlist x86_64,noarch"
    _opts_8: "--alldeps --arch x86_64 --arch noarch"
  changed_when: >
    _yum_download.stdout_lines
    |reject('match', '^Last metadata')
    |reject('match', '^[SKIPPED]')
    |list|length > 0

- name: Generate repository metadata with createrepo for RH7
  shell: createrepo .
  args:
    chdir: "{{ _download_dir }}"
  when: >
    ansible_distribution_major_version|int <= 7

# The repo metadata is a little more complex in RHEL 8 and requires
# generation of modular package metadata.
#
# See https://github.com/rpm-software-management/modulemd-tools
# And https://docs.fedoraproject.org/en-US/modularity/hosting-modules/

- name: Generate repository metadata with createrepo_c/modifyrepo_c for RH8+
  block:
  - name: Generate repository metadata with createrepo_c for RH8+
    command: createrepo_c .
    args:
      chdir: "{{ _download_dir }}"
  - name: Generate modules.yaml with repo2module
    command: >
      repo2module
        --module-name tpa
        --module-stream local
        --module-version 1
        --module-context f32
        . modules.yaml
    args:
      chdir: "{{ _download_dir }}"
  - name: Replace auto-generated summary text
    lineinfile:
      path: "{{ _download_dir }}/modules.yaml"
      regexp: '^(.*)<auto-generated module summary>'
      line: '\1"TPA local-repo"'
      backrefs: yes
  - name: Replace auto-generated description text
    lineinfile:
      path: "{{ _download_dir }}/modules.yaml"
      regexp: '^(.*)<auto-generated module description>'
      line: '\1"Collection of modular packages created by `tpaexec download-packages`"'
      backrefs: yes
  - name: Replace licence
    lineinfile:
      path: "{{ _download_dir }}/modules.yaml"
      regexp: '^(.*)- MIT'
      line: '\1- EDB'
      backrefs: yes
  - name: Add licence content
    lineinfile:
      path: "{{ _download_dir }}/modules.yaml"
      regexp: '^(.*)<FILL THIS IN>'
      line: '\1"© Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved."'
      backrefs: yes
  - name: Generate modular repository metadata with modifyrepo_c
    command: modifyrepo_c --mdtype=modules modules.yaml repodata/
    args:
      chdir: "{{ _download_dir }}"
  when:
    ansible_distribution_major_version|int >= 8
