# Modules
$ModLoad imuxsock.so
$ModLoad imklog.so
$ModLoad imtcp.so

# Listen on network
input(type="imptcp" port="514" address="{{ip_address}}")

# Enable non-kernel facility klog messages
$KLogPermitNonKernelFacility on

# Reduce any duplicates
$RepeatedMsgReduction on
# Enable disk mode for receive buffer
$WorkDirectory /var/spool/rsyslog
$MainMsgQueueFileName mainq

# Permissions
$FileOwner syslog
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$PrivDropToUser syslog
$PrivDropToGroup syslog

# Basic local logging
*.info;\
	mail.none;\
	authpriv.none;\
	cron.none		/var/log/messages

auth,authpriv.*			/var/log/auth.log
kern.*					-/var/log/kern.log
mail.*					-/var/log/mail.log
cron.*					/var/log/cron.log

*.emerg					:omusrmsg:*

# Configure per host logging for remote logs
$RuleSet remote
$template DailyPerHostLogs,"/var/log/hosts/%HOSTNAME%/%PROGRAMNAME%.%$YEAR%-%$MONTH%-%$DAY%.log"
. -?DailyPerHostLogs;RSYSLOG_FileFormat

$InputTCPServerBindRuleset remote

