{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
[databases]
%include /etc/pgbouncer/pgbouncer.databases.ini

[pgbouncer]

pidfile = /var/run/postgresql/pgbouncer.pid

listen_addr = *
listen_port = {{ pgbouncer_port }}

;;;
;;; Client and server TLS settings
;;;

;; disable, allow, require, verify-ca, verify-full
client_tls_sslmode = require

client_tls_ca_file = {{ ssl_ca_file|default(ssl_cert_file|default("/etc/tpa/"+cluster_name+".crt")) }}
client_tls_key_file = {{ ssl_key_file|default("/etc/tpa/"+cluster_name+".key") }}
client_tls_cert_file = {{ ssl_cert_file|default("/etc/tpa/"+cluster_name+".crt") }}

;client_tls_ciphers = fast ; normal, secure, legacy, <ciphersuite>
client_tls_protocols = secure
;client_tls_dheparams = auto
;client_tls_ecdhcurve = auto

;; disable, allow, require, verify-ca, verify-full
server_tls_sslmode = require

;server_tls_ca_file = <system default>
;server_tls_key_file =
;server_tls_cert_file =

;server_tls_ciphers = fast ; normal, secure, legacy, <ciphersuite>
server_tls_protocols = secure

;;;
;;; Authentication settings
;;;

auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
auth_user = pgbouncer
auth_query = SELECT * FROM pgbouncer.get_auth($1)

admin_users = pgbouncer
stats_users = pgbouncer

;;;
;;; Pooler personality questions
;;;

; When server connection is released back to pool:
;   session      - after client disconnects
;   transaction  - after transaction finishes
;   statement    - after statement finishes
pool_mode = {{ pgbouncer_pool_mode|default(default_pgbouncer_pool_mode) }}

server_reset_query = DISCARD ALL
;server_reset_query_always = 0
ignore_startup_parameters = extra_float_digits
;server_check_query = select 1
;server_check_delay = 30
;application_name_add_host = 0

server_fast_close = {{ server_fast_close|default(1) }}

;;;
;;; Connection limits
;;;

max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size|default(default_pgbouncer_default_pool_size) }}
;min_pool_size = 0
;reserve_pool_size = 5
;reserve_pool_timeout = 3
;max_db_connections = 50
;max_user_connections = 50
;server_round_robin = 0

;;;
;;; Logging
;;;

syslog = 1
syslog_facility = daemon
syslog_ident = pgbouncer

;logfile = /var/log/pgbouncer/pgbouncer.log
log_connections = 0
log_disconnections = 0
;log_pooler_errors = 1
;stats_period = 60
;verbose=0

;;;
;;; Timeouts
;;;

;server_lifetime = 1200
;server_idle_timeout = 60
;server_connect_timeout = 15
;server_login_retry = 15
;query_timeout = 0
;query_wait_timeout = 120
;client_idle_timeout = 0
;client_login_timeout = 60
;autodb_idle_timeout = 3600
;suspend_timeout = 10
;idle_transaction_timeout = 0

;;;
;;; Low-level tuning options
;;;

;pkt_buf = 4096
;listen_backlog = 128
;sbuf_loopcnt = 5
;max_packet_size = 2147483647
;tcp_defer_accept = 0
;tcp_socket_buffer = 0
;tcp_keepalive = 1
;tcp_keepcnt = 0
;tcp_keepidle = 0
;tcp_keepintvl = 0
;dns_max_ttl = 15
;dns_zone_check_period = 0
;dns_nxdomain_ttl = 15

;%include /etc/pgbouncer/pgbouncer-other.ini
