{# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved. #}
"pgbouncer" "{{ password_encryption|encrypted_password(
    vars['pgbouncer_password'], username='pgbouncer', existing_password=existing_pgbouncer_password)
}}"
"{{ pgbouncer_auth_user }}" "{{ 'md5'|encrypted_password(
    vars['%s_password' % pgbouncer_auth_user], username=pgbouncer_auth_user, existing_password=existing_auth_user_password)
}}"
