---

# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved.

# The first_bdr_primary has now created the group, and the remaining
# members of the same bdr_node_group must join the group.
#
# BDR does not support concurrent group joins, so we can't run this task
# in parallel on all the members of the group. Failing that, it would be
# nice to set «serial: 1» on this task, but serial is not supported as a
# task attribute. We use a loop to get the equivalent serial behaviour,
# executing the task on first_bdr_primary, but connecting to each
# instance in turn to issue the bdr.join_node_group() query.
#
# Instances join the group with join_target_dsn set to first_bdr_primary
# unless they have a different upstream defined. If so, they must wait
# until the upstream has joined the group itself, so we perform group
# joins in two phases: first for instances without any upstream, and
# then for the remainder.

- name: Join BDR node groups
  include_tasks: bdr3/join-inner.yml
  with_items: >
    {{ groups[bdr_node_group]|difference([first_bdr_primary]) }}
  loop_control:
    loop_var: bdr_node
  vars:
    node_bdr_database_facts: >
      {{ hostvars[bdr_node].cluster_facts.databases[hostvars[bdr_node].bdr_database] }}
  when:
    hostvars[bdr_node].upstream is not defined
    and node_bdr_database_facts.bdr.node_group is empty

- name: Join BDR node groups with specified upstream
  include_tasks: bdr3/join-inner.yml
  vars:
    bdr_upstream: "{{ hostvars[bdr_node].upstream }}"
    bdr_upstream_dsn: "{{ hostvars[bdr_upstream].bdr_node_dsn }}"
    node_bdr_database_facts: >
      {{ hostvars[bdr_node].cluster_facts.databases[hostvars[bdr_node].bdr_database] }}
  with_items: >
    {{ groups[bdr_node_group]|difference([first_bdr_primary]) }}
  loop_control:
    loop_var: bdr_node
  when:
    hostvars[bdr_node].upstream is defined
    and node_bdr_database_facts.bdr.node_group is empty
