{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
ulimit -c unlimited
export PS1='\u@\h:\w $ '
export PATH=$PATH:{{ postgres_bin_dir }}
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH:+$LD_LIBRARY_PATH:}{{ postgres_lib_dir }}
export PGDATA={{ postgres_data_dir }}
{% if postgres_version is version('10', '>=') %}
export PGHOST='{{ unix_socket_directories|join(",") }}'
{% endif %}
{% for l in extra_bashrc_lines|default([]) %}
{{ l }}
{% endfor %}
