{# © Copyright EnterpriseDB UK Limited 2015-2025 - All rights reserved. #}
ulimit -c {{ (ansible_os_family=='SUSE')|ternary('0', 'unlimited') }}
export PS1='\u@\h:\w $ '
export PATH=$PATH:{{ postgres_bin_dir }}
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH:+$LD_LIBRARY_PATH:}{{ postgres_lib_dir }}
export PGDATA={{ postgres_data_dir }}
{% if postgres_version is version('10', '>=') %}
export PGHOST='{{ unix_socket_directories|join(",") }}'
{% endif %}
{% for l in extra_bashrc_lines|default([]) %}
{{ l }}
{% endfor %}
{% if 'bdr' in role and bdr_version is version('5', '>=') %}
# enable bash completion for PGD CLI
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi
{% endif %}
