{# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved. #}
[Unit]
Description=Postgres replication manager
After={{ postgres_service_name }}-monitor.service
Wants={{ postgres_service_name }}-monitor.service

[Service]
Type=simple
User={{ postgres_user }}
Group={{ postgres_group }}
StandardOutput=syslog
ExecStart={{ postgres_bin_dir }}/repmgrd -f {{ repmgr_conf_file }} --verbose {{ no_daemonize }}
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
