{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
[Unit]
Description=Postgres connection pooler
After=syslog.target
After=network.target

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart={{ default_pgbouncer_paths[ansible_os_family] }} /etc/pgbouncer/pgbouncer.ini
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
