{# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved. #}
[Unit]
Description=Postgres connection pooler
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ postgres_user }}
Group={{ postgres_group }}
ExecStart={{ default_pgbouncer_paths[ansible_os_family] }} /etc/pgbouncer/pgbouncer.ini
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
