#!/bin/bash


# create a directory with proper timestamp and then copy
# contents of the GTM directory into it

backup_dir=/var/lib/barman/{{ backup_name }}/backup/$(date +%Y%m%d)T$(date +%H%M%S)
mkdir -p $backup_dir

# issue a CREATE BARRIER against a coordinator. This will also sync up
# GTM config contents

{{ postgres_bin_dir }}/psql -d postgres -h {{ coord_ip_address }} -p {{ coord_port }} -qAtc 'CREATE BARRIER'

# scp the contents of GTM directory into $backup_dir

scp -r postgres@{{ parent_inventory_hostname }}:/pgxl/data/gtm/* $backup_dir
