<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>2ndQuadrant Trusted PostgreSQL Architecture</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>

    <body style="padding-top:70px">
    <nav class="navbar navbar-default navbar-fixed-top " id="headerwrap">
        <div class="container">
            <div class="navbar-header">
                 <a class="navbar-brand" href="#"
                    style="padding: 5px 0 0 0"> <img
                    src="http://2ndquadrant.com/static/images/logo.png"></img>
                </a>
            </div>
            <div class="navbar-collapse collapse">
            
            <ul class="navbar navbar-nav navbar-right col-offset-2">
                <h2><span class="label label-primary">Trusted PostgreSQL Architecture</span></h2>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    {% block content %}{% endblock content %}
    </div>
    </body>
</html>