{% extends "base.html" %}
{% block content %}
<div class="row">
<div class = "col-md-3">
</div>
<div class="col-md-6 table-responsive">
    <div class="box text-center">
    <h3>Trusted PostgreSQL Provisioning</h3>
    <span class="badge">Step {{wizard.steps.step1}} of {{wizard.steps.count}}</span>
    <hr />
    {%for field in form%}
        {{field.error}}
    {%endfor%}
    </div>
    

<form role="form" class="form-horizontal" action="/provision1/" method="post">{% csrf_token %}
<table class="table table-hover text-right">

{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
    
{% endif %}
</table>
<hr />
<div class="btn-toolbar text-center">
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" class="btn btn-primary" value="{{ wizard.steps.first }}">First Step</button>
<button name="wizard_goto_step" type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}">Prev Step</button>
{% endif %}

<input type="submit" class="btn btn-primary" value="Next Step"/>
</div>
<hr />
</form>

</div>

</div>
{%endblock%}