---

# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved.

default_postgresql_flavour: postgresql

default_postgres_version: 13

default_postgres_user:
  postgresql: postgres
  epas: enterprisedb

default_postgres_home_dir:
  postgresql:
    Debian: /var/lib/postgresql
    RedHat: /var/lib/pgsql
  epas:
    Debian: /var/lib/edb-as
    RedHat: /var/lib/edb

default_postgres_port:
  postgresql: 5432
  epas: 5444

default_unix_socket_directories:
  postgresql:
    Debian: &all_socket_directories
      - /var/run/postgresql
      - /tmp
    RedHat: *all_socket_directories
  epas:
    Debian:
      - /var/run/edb-as
    RedHat:
      - /tmp

default_postgres_data_dir: /opt/postgres/data
default_postgres_wal_dir: "{{ postgres_data_dir }}/pg_wal"

default_postgres_locale: en_US.UTF-8

default_postgres_conf_files:
  config_file: postgresql.conf
  ident_file: pg_ident.conf
  hba_file: pg_hba.conf

default_postgres_bin_dir:
  postgresql:
    Debian: "/usr/lib/postgresql/{{ postgres_version }}/bin"
    RedHat: "/usr/pgsql-{{ postgres_version }}/bin"
  epas:
    Debian: "/usr/lib/edb-as/{{ postgres_version }}/bin"
    RedHat: "/usr/edb/as{{ postgres_version }}/bin"

default_postgres_tablespaces: {}

default_postgres_extensions:
  - pg_stat_statements
  - pg_freespacemap
  - pg_visibility
  - pageinspect
  - pgstattuple

default_postgres_users: []
default_postgres_databases: []

# These parameters are scaled according to ansible_memtotal_mb. You can
# override either the ratio or the value explicitly.

shared_buffers_ratio: 0.25
shared_buffers_mb: null
effective_cache_size_ratio: 0.5
effective_cache_size_mb: null

default_log_destination: syslog
default_max_connections: 250
default_max_worker_processes: 16

default_password_encryption: "{{
  postgres_version is version('10','>=')|ternary('scram-sha-256', 'md5')
}}"
default_postgres_hba_local_auth_method: peer

default_barman_user: barman
default_barman_group: barman
default_barman_home: /var/lib/barman
default_barman_archive_command: "'barman-wal-archive {{ backup }} {{ inventory_hostname }} %p'"

default_failover_manager: repmgr

default_etcd_peer_port: 2380
default_etcd_client_port: 2379

default_repmgr_conf_dir: "/etc/repmgr/{{ postgres_version }}"

default_bdr_version: 3
default_bdr_database: bdrdb
default_bdr_node_group: bdrgroup

default_postgres_install_dir: "/opt/postgres/{{ postgres_version }}"

default_haproxy_bind_address: 127.0.0.1
default_haproxy_port:
  postgresql: 5432
  epas: 5444
default_haproxy_stats_socket: /var/lib/haproxy/stats
default_pgbouncer_port: 6432
default_pgbouncer_server_login_retry: 0

# By default, pgbouncer will forward all connections to 127.0.0.1:5432
# (which may be either postgres or haproxy that has been configured to
# forward connections to postgres); if pgbouncer_backend is set to the
# name of some instances, its postgres_port setting will be respected,
# as will max_connections to set pgbouncer_max_client_conn.

default_pgbouncer_backend: 127.0.0.1
default_pgbouncer_backend_port:
  postgresql: 5432
  epas: 5444
default_pgbouncer_max_client_conn: 100
default_pgbouncer_auth_user: pgbouncer_auth_user

# By default, we create a single wildcard entry under [databases], which
# forwards all connections to the pgbouncer_backend defined above. Set
# pgbouncer_databases to [{name: …, options: {…}}, …] to override this
# and install whatever entries you want. If left unspecified, host and
# port will be filled in with pgbouncer_backend/pgbouncer_backend_port
# under each entry's "options".

default_pgbouncer_databases:
  - name: "*"

default_harp_version: 2
default_harp_listen_port: 5442
default_harp_consensus_protocols:
  "1": bdr
  "2": etcd
default_harp_directories:
  "1": /etc/bdr3
  "2": /etc/harp

default_build_path:
  - "{{ postgres_bin_dir }}"
  - /usr/lib64/ccache
  - /usr/lib/ccache
  - $PATH

default_efm_version: 4.2
default_efm_conf_dir: "/etc/edb/efm-{{ efm_version }}"
default_efm_bin_dir: "/usr/edb/efm-{{ efm_version }}/bin"
default_efm_bind_port: 7800
