---

instances:
  - node: 1
    Name: {{ hostnames[1] }}
    role:
      - primary
      - bdr
    vars:
      bdr_node_group: {{ cluster_name }}

  - node: 2
    Name: {{ hostnames[2] }}
    role:
      - primary
      - bdr
    vars:
      bdr_node_group: {{ cluster_name }}

  - node: 3
    Name: {{ hostnames[3] }}
    role:
      - primary
      - bdr
    vars:
      bdr_node_group: {{ cluster_name }}

  - node: 4
    Name: {{ hostnames[4] }}
    role:
      - primary
      - bdr
    vars:
      bdr_node_group: {{ cluster_name }}

  - node: 5
    Name: {{ hostnames[5] }}
    upstream: {{ hostnames[1] }}
    backup: {{ hostnames[6] }}
    role:
      - replica
      - bdr

  - node: 6
    Name: {{ hostnames[6] }}
    role:
      - barman

  - node: 7
    Name: {{ hostnames[7] }}
    volumes:
      - device_name: /dev/xvdb
        volume_type: none
    role:
      - pgbouncer
      - haproxy
    vars:
      haproxy_backends:
        - {{ hostnames[1] }}
        - {{ hostnames[2] }}

  - node: 8
    Name: {{ hostnames[8] }}
    volumes:
      - device_name: /dev/xvdb
        volume_type: none
    role:
      - pgbouncer
      - haproxy
    vars:
      haproxy_backends:
        - {{ hostnames[3] }}
        - {{ hostnames[4] }}
