{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
---

instances:
  - node: 1
    Name: {{ hostnames[1] }}
    location: 0
    role:
      - primary
      - bdr
    backup: {{ hostnames[7] }}
    vars:
        bdr_node_camo_partner: {{ hostnames[2] }}

  - node: 2
    Name: {{ hostnames[2] }}
    location: 0
    role:
      - primary
      - bdr
    vars:
        bdr_node_camo_partner: {{ hostnames[1] }}

  - node: 3
    Name: {{ hostnames[3] }}
    location: 1
    role:
      - primary
      - bdr
    backup: {{ hostnames[8] }}
    vars:
        bdr_node_camo_partner: {{ hostnames[4] }}

  - node: 4
    Name: {{ hostnames[4] }}
    location: 1
    role:
      - primary
      - bdr
    vars:
        bdr_node_camo_partner: {{ hostnames[3] }}

  - node: 5
    Name: {{ hostnames[5] }}
    location: 0
    role:
      - primary
      - bdr
      - readonly
    upstream: {{ hostnames[2] }}

  - node: 6
    Name: {{ hostnames[6] }}
    location: 1
    role:
      - primary
      - bdr
      - readonly
    upstream: {{ hostnames[4] }}

  - node: 7
    Name: {{ hostnames[7] }}
    location: 0
    role:
      - barman

  - node: 8
    Name: {{ hostnames[8] }}
    location: 1
    role:
      - barman

  - node: 9
    Name: {{ hostnames[9] }}
    location: 0
    volumes:
      - device_name: /dev/xvdf
        volume_type: none
    role:
      - pgbouncer
      - haproxy
    vars:
      haproxy_backends:
        - {{ hostnames[1] }}
        - {{ hostnames[2] }}

  - node: 10
    Name: {{ hostnames[10] }}
    location: 1
    volumes:
      - device_name: /dev/xvdf
        volume_type: none
    role:
      - pgbouncer
      - haproxy
    vars:
      haproxy_backends:
        - {{ hostnames[3] }}
        - {{ hostnames[4] }}
