{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
---
architecture: {{ architecture }}
cluster_name: {{ cluster_name }}
{{ dict(cluster_tags=cluster_tags)|to_nice_yaml(indent=2) }}
{% if top_level_settings|default({}) is not empty %}
{{ top_level_settings|to_nice_yaml(indent=2) }}
{% endif %}
{% if tower_settings|default({}) is not empty %}
# Configuration settings for Ansible Tower, also known as Ansible
# Automation Controller

{{ dict(ansible_tower=tower_settings)|to_nice_yaml(indent=2) }}
{% endif %}
{% if platform_settings|default({}) is not empty %}
{{ platform_settings|to_nice_yaml(indent=2) }}
{% endif %}
{{ dict(cluster_vars=cluster_vars)|to_nice_yaml(indent=2) }}
{{ dict(locations=locations)|to_nice_yaml(indent=2) }}
{{ dict(instance_defaults=instance_defaults)|to_nice_yaml(indent=2) }}
{{ dict(instances=instances)|to_nice_yaml(indent=2) }}
