#!/usr/bin/env {{ python }}
# -*- coding: utf-8 -*-
# Copyright © EnterpriseDB Corporation

from __future__ import absolute_import, division, print_function

import os, sys, time
import psycopg2
import socket

check_query = '''
  SELECT
    bdr.get_configured_camo_partner_of() AS source_node,
    (bdr.get_node_sub_receive_lsn(bdr.get_configured_camo_partner_of()) -
     bdr.get_node_sub_apply_lsn(bdr.get_configured_camo_partner_of())) AS apply_queue_size,
    (bdr.get_node_sub_receive_lsn(bdr.get_configured_camo_partner_of()) -
     bdr.get_node_sub_apply_lsn(bdr.get_configured_camo_partner_of())) > 56 AS apply_queue_exists
'''

def main():
    _, _, ip_address, port = sys.argv[1:5]

    os.environ['PGPASSFILE'] = "/etc/haproxy/.pgpass"
    conninfo = 'host=%s port=%s dbname={{ bdr_database }} user=check_queue' % (ip_address, port)
    res = None

    try:
        conn = psycopg2.connect(dsn=conninfo)
        cur = conn.cursor()
        cur.execute(check_query)

        column_names = [desc[0] for desc in cur.description]
        for row in cur:
            res = dict(zip(column_names, row))

        cur.close()
        conn.close()

    except Exception as error:
        print('ERROR: %s' % str(error).strip())
        sys.exit(1)

    this_node = socket.gethostbyaddr(ip_address)[0]
    if res['apply_queue_exists'] in [1, '1', 't', True]:
        print('%s (%s:%s) has %s bytes of queued changes from %s\n' % (this_node, ip_address, port, res['apply_queue_size'], res['source_node']))
        sys.exit(1)

    sys.exit(0)

if __name__ == '__main__':
    main()
