global
    log 127.0.0.1 local0 notice

defaults
    timeout client 30s
    timeout server 30s
    timeout connect 5s

frontend pg_ha
    bind 127.0.0.1:5432

    maxconn 1000
    timeout client 1h

    default_backend bdr_cluster

backend bdr_cluster
    mode tcp

    stick-table type ip size 1 nopurge
    stick on dst

    option pgsql-check user haproxy

    timeout server 1h

{% for b in [haproxy_backends[0]] %}
{%   set v = hostvars[b] %}
    server BDR {{ b }}:{{ v.postgres_port }} maxconn {{ v.haproxy_maxconn }} check inter 1500 downinter 6s rise 5 fall 3
{% endfor %}
{% for b in haproxy_backends[1:] %}
{%   set v = hostvars[b] %}
    server BDR {{ b }}:{{ v.postgres_port }} maxconn {{ v.haproxy_maxconn }} check inter 1500 downinter 6s rise 5 fall 3 backup
{% endfor %}
