{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
mode server

tls-server
topology subnet
push "topology [topology]"

ifconfig {{ openvpn_ip }} {{ vpn_network|ipaddr("netmask") }}
push "route {{ vpn_network|ipaddr("network") }} {{ vpn_network|ipaddr("netmask") }}"
push "route-gateway {{ openvpn_ip }}"

local 0.0.0.0
port 1194

dev tun
proto udp

dh {{ openvpn_config }}/dh2048.pem
ca {{ openvpn_config }}/ca.crt
key {{ openvpn_config }}/{{ inventory_hostname }}.key
cert {{ openvpn_config }}/{{ inventory_hostname }}.crt
tls-auth {{ openvpn_config }}/ta.key 0

client-config-dir {{ openvpn_config }}/ccd

comp-lzo
user nobody
{% if ansible_distribution == 'RedHat' %}
group nobody
{% else %}
group nogroup
{% endif %}
remote-cert-tls client
keepalive 10 300
tls-timeout 120s
client-to-client
persist-key
persist-tun

log-append /var/log/openvpn.log
