cluster={{ upstream_primary }}
node={{ node }}
node_name={{ inventory_hostname }}
conninfo='host={{ inventory_hostname }} user=repmgr dbname=repmgr'
use_replication_slots=1
master_response_timeout=60
reconnect_attempts=6
reconnect_interval=10
failover=automatic
pg_bindir={{ postgres_bin_dir }}
promote_command='{{ repmgr_conf_dir }}/promote_command.sh'
follow_command='{{ repmgr_conf_dir }}/follow_command.sh'
logfile='/var/log/postgresql/repmgrd.log'
{% if upstream_backedup != '' %}
restore_command='/usr/bin/barman-wal-restore -U barman -z -p 8 {{ hostvars[upstream_backedup].backup }} {{ hostvars[upstream_backedup].backup_name }} %f %p'
{% endif %}
{% if upstream|default(upstream_primary) != upstream_primary %}
upstream_node={{ hostvars[upstream].node }}
{% endif %}
