cluster={{ cluster_name|lower }}
node={{ node_id }}
node_name=db{{ node_id }}
conninfo='host={{hostvars[inventory_hostname]['vpn_address']}} user=repmgr dbname=repmgr'
master_response_timeout=60
reconnect_attempts=6
reconnect_interval=10
failover=automatic
promote_command='/etc/repmgr/promote_command.sh'
follow_command='/etc/repmgr/follow_command.sh'
