cluster={{ upstream_primary }}
node={{ node }}
node_name={{ inventory_hostname }}
conninfo='host={{ inventory_hostname }} user=repmgr dbname=repmgr'
master_response_timeout=60
reconnect_attempts=6
reconnect_interval=10
failover=automatic
pg_bindir={{ postgres_bin_dir }}
promote_command='{{ repmgr_conf_dir }}/promote_command.sh'
follow_command='{{ repmgr_conf_dir }}/follow_command.sh'
logfile='/var/log/postgresql/repmgrd.log'
{% if upstream and hostvars[upstream].backup != '' %}
restore_command='/usr/bin/barman-wal-restore -U barman {{ hostvars[hostvars[upstream].backup].inventory_hostname }} {{ hostvars[upstream].backup_name }} %f %p'
{% endif %}
