{# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com> #}
127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback

{% for l in etc_hosts_lines|default([]) %}
{{ l }}
{% else %}
{% set v = {} %}{% for h in groups[cluster_tag] -%}{{ v.update({h:hostvars[h].node|int}) }}{% endfor %}{% for h,n in v|dictsort(false,'value') -%}
{{ hostvars[h].ip_address + ' ' + h }}{% if h != hostvars[h].inventory_hostname_short %} {{ hostvars[h].inventory_hostname_short }}{% endif %}{{ '\n' -}}
{% for alias,ip in (hostvars[h].hostname_aliases|default({})).items() -%}{{ '%s %s\n' % (ip, alias) }}{% endfor %}
{% endfor %}
{% endfor %}
