*:*:*:postgres:{{ postgres_password|replace("\\","\\\\")|replace(':','\:') }}
{% if repmgr_password is defined %}
*:*:*:repmgr:{{ repmgr_password|replace("\\","\\\\")|replace(':','\:') }}
{% endif %}
