---
{% include 'preamble.yml.j2' %}
cluster_rules:
  - {proto: tcp, from_port: 22, to_port: 22, cidr_ip: 0.0.0.0/0}
  - {proto: tcp, from_port: 5432, to_port: 5432, cidr_ip: {{ subnets[0] }}}

{{ dict(cluster_vars=cluster_vars)|to_nice_yaml(indent=2) }}
instance_defaults:
  type: {{ instance_type }}
  region: {{ region }}
  subnet: {{ subnets[0] }}
  platform: {{ platform }}
  default_volumes:
    - device_name: root
      volume_type: gp2
      volume_size: {{ root_volume_size }}
    - device_name: /dev/xvdb
      volume_type: gp2
      volume_size: {{ postgres_volume_size }}
      vars:
        volume_for: postgres_data
  role:
    - primary
    - bdr
  vars:
    ansible_user: {{ image_user|default('root') }}
    bdr_node_group: {{ cluster_name }}

instances:
{% for n in range(1, instances+1) %}
  - node: {{ n }}
    Name: {{ hostnames[n] }}

{% endfor %}
