{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
---

instance_defaults:
  location: 0
  role:
    - bdr

instances:
{% for n in range(1, num_instances+1) %}
- node: {{ n }}
  Name: {{ hostnames[n] }}
{% endfor %}
