---

cluster_name: "TPAImages"
cluster_tags:
  Owner: AMS

cluster_rules:
    - {proto: tcp, from_port: 22, to_port: 22, cidr_ip: 0.0.0.0/0}

ec2_vpc:
  Name: Test

instances:

{% set n = [0] %}
{% for r in regions %}
{% for i in region_amis[r] %}
{% if n.append(n.pop()+1) %}{% endif %}
    - node: {{ n[0] }}
      type: t2.micro
      image: {{ i.ami_id }}
      region: {{ r }}
      subnet: 10.33.0.0/24
      volumes:
        - device_name: root
          volume_type: gp2
          volume_size: 16
      tags:
        Name: {{ i.os|lower }}-{{ r }}
        role: image
        os: {{ i.os }}

{% endfor %}
{% endfor %}
