---

# Copyright © 2ndQuadrant Limited <info@2ndquadrant.com>

# We'll need to execute openvpn on the control (local) instance several
# times, so we check that it's accessible through $PATH, which we add
# some likely …/sbin locations to.

- name: Find path to openvpn binary
  set_fact:
    openvpn_bin: "{{ command_v }}"
  vars:
    command_v: >-
      {{ lookup('pipe', 'PATH=$PATH:/usr/sbin:/usr/local/opt/openvpn/sbin command -v openvpn || true') }}

- name: Ensure openvpn is in $PATH
  assert:
    msg: "Please add the location of openvpn to your PATH"
    that: openvpn_bin != ''

- name: Ensure certs directory exists locally
  file:
    path: "{{ _local_cert_dir }}"
    state: directory
  run_once: yes
  become: no
  delegate_to: localhost

- name: Copy custom openssl configuration to certs directory
  template:
    src: openssl.cnf.j2
    dest: "{{ _local_cert_dir }}/openssl.cnf"
  become: no
  delegate_to: localhost

- name: Generate CA key and self-signed CA certificate
  shell: >
    umask 077 &&
    openssl req -new -nodes -newkey rsa:4096 -x509 -out ca.crt -keyout ca.key
    -subj '/C=GB/ST=Oxford/L=Oxford/O=2ndQuadrant/OU=2ndQuadrant TPA/CN={{ cluster_name }}'
    -days 3650
  args:
    chdir: "{{ _local_cert_dir }}"
    creates: "ca.key"
    executable: /bin/bash
  run_once: yes
  become: no
  delegate_to: localhost

- name: Generate host key and CSR for each instance
  shell: >
    umask 077 &&
    openssl req -new -nodes -newkey rsa:4096
    -out "{{ inventory_hostname }}.csr" -keyout "{{ inventory_hostname }}.key"
    -subj '/C=GB/ST=Oxford/L=Oxford/O=2ndQuadrant/OU=2ndQuadrant TPA/CN={{ inventory_hostname }}'
    -days 3650
  args:
    chdir: "{{ _local_cert_dir }}"
    creates: "{{ inventory_hostname }}.key"
    executable: /bin/bash
  become: no
  delegate_to: localhost

- name: Select extension type for host certificate
  set_fact:
    openssl_extensions: "{{
      ('openvpn-server' in role)|ternary('server_exts', 'client_exts')
    }}"

- name: Sign each CSR with the CA certificate
  shell: >
    umask 077 &&
    openssl x509 -req -CA ca.crt -CAkey ca.key -set_serial {{ node }}
    -in "{{ inventory_hostname }}.csr" -out "{{ inventory_hostname }}.crt"
    -extensions {{ openssl_extensions }} -extfile openssl.cnf
    -days 3650 -sha256
  args:
    chdir: "{{ _local_cert_dir }}"
    creates: "{{ inventory_hostname }}.crt"
    executable: /bin/bash
  become: no
  delegate_to: localhost

- name: Generate DH parameters
  shell: >
    umask 077 &&
    openssl dhparam -out "dh2048.pem" 2048
  args:
    chdir: "{{ _local_cert_dir }}"
    creates: "dh2048.pem"
    executable: /bin/bash
  run_once: yes
  become: no
  delegate_to: localhost

- name: Generate TLS authentication key
  shell: >
    umask 077 &&
    {{ openvpn_bin }} --genkey --secret "ta.key"
  args:
    chdir: "{{ _local_cert_dir }}"
    creates: "ta.key"
    executable: /bin/bash
  run_once: yes
  become: no
  delegate_to: localhost
