{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
---

instances:
  - node: 1
    Name: {{ hostnames[1] }}
    location: 0
    role:
      - bdr
    backup: {{ hostnames[8] }}

  - node: 2
    Name: {{ hostnames[2] }}
    location: 0
    role:
      - bdr

  - node: 3
    Name: {{ hostnames[3] }}
    location: 1
    role:
      - bdr

  - node: 4
    Name: {{ hostnames[4] }}
    location: 1
    role:
      - bdr
    backup: {{ hostnames[9] }}

  - node: 5
    Name: {{ hostnames[5] }}
    location: 0
    role:
      - bdr
      - readonly

  - node: 6
    Name: {{ hostnames[6] }}
    location: 1
    role:
      - bdr
      - readonly

  - node: 7
    Name: {{ hostnames[7] }}
    location: 2
    role:
      - bdr
      - witness

  - node: 8
    Name: {{ hostnames[8] }}
    location: 0
    role:
      - barman

  - node: 9
    Name: {{ hostnames[9] }}
    location: 1
    role:
      - barman

  - node: 10
    Name: {{ hostnames[10] }}
    location: 0
    volumes:
      - device_name: {{ volume_device_name + 'f' }}
        volume_type: none
    role:
      - harp-proxy

  - node: 11
    Name: {{ hostnames[11] }}
    location: 0
    volumes:
      - device_name: {{ volume_device_name + 'f' }}
        volume_type: none
    role:
      - harp-proxy

  - node: 12
    Name: {{ hostnames[12] }}
    location: 1
    volumes:
      - device_name: {{ volume_device_name + 'f' }}
        volume_type: none
    role:
      - harp-proxy

  - node: 13
    Name: {{ hostnames[13] }}
    location: 1
    volumes:
      - device_name: {{ volume_device_name + 'f' }}
        volume_type: none
    role:
      - harp-proxy
