{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
---

instances:
  - node: 1
    Name: {{ hostnames[1] }}
    location: 0
    role:
      - bdr
    backup: {{ hostnames[4] }}

  - node: 2
    Name: {{ hostnames[2] }}
    location: 0
    role:
      - bdr

  - node: 3
    Name: {{ hostnames[3] }}
    location: 0
    role:
      - bdr

  - node: 4
    Name: {{ hostnames[4] }}
    location: 1
    role:
      - barman

  - node: 5
    Name: {{ hostnames[5] }}
    location: 0
    volumes:
      - device_name: /dev/xvdf
        volume_type: none
    role:
      - harp-proxy

  - node: 6
    Name: {{ hostnames[6] }}
    location: 0
    volumes:
      - device_name: /dev/xvdf
        volume_type: none
    role:
      - harp-proxy
