{# © Copyright EnterpriseDB UK Limited 2015-2022 - All rights reserved. #}
#!/bin/sh

set -e

cd {{ repmgr_src_dir }}
findmnt . > /dev/null || git pull

cd {{ repmgr_build_dir }}
make -s USE_PGXS=1 with_llvm=no install
