{# © Copyright EnterpriseDB UK Limited 2015-2021 - All rights reserved. #}
db.user=efm
db.password.encrypted={{ efm_encrypted_pass }}
db.port={{ postgres_port }}
db.database={{ efm_conf_settings['db.database']|default('postgres') }}
db.service.owner={{ postgres_user }}
db.service.name=postgres
db.bin={{ postgres_bin_dir }}
db.data.dir={{ postgres_data_dir }}
db.config.dir={{ efm_conf_settings['db.config.dir']|default('') }}
jdbc.sslmode={{ efm_conf_settings['jdbc.sslmode']|default('disable') }}
user.email={{ efm_conf_settings['user.email']|default('') }}
from.email={{ efm_conf_settings['from.email']|default('') }}
notification.level={{ efm_conf_settings['notification.level']|default('INFO') }}
notification.text.prefix={{ efm_conf_settings['notification.text.prefix']|default('') }}
script.notification={{ efm_conf_dir }}/{{ cluster_name }}-efm.notification.sh
bind.address={{ private_ip }}:{{ efm_bind_port }}
external.address=
admin.port={{ efm_conf_settings['admin.port']|default(7809) }}
{% if 'efm-witness' in role %}
is.witness=true
{% else %}
is.witness=false
{% endif %}
local.period={{ efm_conf_settings['local.period']|default(10) }}
local.timeout={{ efm_conf_settings['local.timeout']|default(60) }}
local.timeout.final={{ efm_conf_settings['local.timeout.final']|default(10) }}
remote.timeout={{ efm_conf_settings['remote.timeout']|default(10) }}
node.timeout={{ efm_conf_settings['node.timeout']|default(50) }}
encrypt.agent.messages={{ efm_conf_settings['encrypt.agent.messages']|default(false) | bool }}
stop.isolated.primary={{ efm_conf_settings['stop.isolated.primary']|default(true) | bool }}
stop.failed.primary={{ efm_conf_settings['stop.failed.primary']|default(true) | bool }}
primary.shutdown.as.failure={{ efm_conf_settings['primary.shutdown.as.failure']|default(false) | bool }}
{% if postgres_version is version('12', '>=') %}
update.physical.slots.period={{ efm_conf_settings['update.physical.slots.period']|default(10) }}
{% endif %}
ping.server.ip={{ efm_conf_settings['ping.server.ip']|default('8.8.8.8') }}
ping.server.command={{ efm_conf_settings['ping.server.command']|default('/bin/ping -q -c3 -w5') }}
auto.allow.hosts={{ efm_conf_settings['auto.allow.hosts']|default(true) |bool }}
stable.nodes.file={{ efm_conf_settings['stable.nodes.file']|default(true) | bool }}
db.reuse.connection.count={{ efm_conf_settings['db.reuse.connection.count']|default(0) }}
auto.failover={{ efm_conf_settings['auto.failover']|default(true) | bool }}
{% if postgres_version is version('11', '<=') or (upstream is defined and upstream_primary != upstream) %}
auto.reconfigure=false
{% else %}
auto.reconfigure=true
{% endif %}
{% if 'efm-witness' in role or 'efm-not-promotable' in role or ( upstream is defined and upstream_primary != upstream) %}
promotable=false
{% else %}
promotable=true
{% endif %}
use.replay.tiebreaker={{ efm_conf_settings['use.replay.tiebreaker']|default(true) | bool }}
standby.restart.delay={{ efm_conf_settings['standby.restart.delay']|default(0) }}
application.name={{ efm_conf_settings['application.name']|default('') }}
restore.command={{ efm_conf_settings['restore.command']|default('') }}
reconfigure.num.sync={{ efm_conf_settings['reconfigure.num.sync']|default(false) | bool }}
reconfigure.num.sync.max={{ efm_conf_settings['reconfigure.num.sync.max']|default('') }}
reconfigure.sync.primary={{ efm_conf_settings['reconfigure.sync.primary']|default(false) | bool }}
minimum.standbys={{ efm_conf_settings['minimum.standbys']|default(0) }}
recovery.check.period={{ efm_conf_settings['recovery.check.period']|default(1) }}
restart.connection.timeout={{ efm_conf_settings['restart.connection.timeout']|default(60) }}
auto.resume.period={{ efm_conf_settings['auto.resume.period']|default(0) }}
virtual.ip={{ efm_conf_settings['virtual.ip']|default('') }}
virtual.ip.interface={{ efm_conf_settings['virtual.ip.interface']|default('') }}
virtual.ip.prefix={{ efm_conf_settings['virtual.ip.prefix']|default('') }}
virtual.ip.single={{ efm_conf_settings['virtual.ip.single']|default(true) | bool }}
check.vip.before.promotion={{ efm_conf_settings['check.vip.before.promotion']|default(true) | bool }}
pgpool.enable={{ efm_conf_settings['pgpool.enable']|default(false) | bool }}
pcp.user={{ efm_conf_settings['pcp.user']|default('') }}
pcp.host={{ efm_conf_settings['pcp.host']|default('') }}
pcp.port={{ efm_conf_settings['pcp.port']|default('') }}
pcp.pass.file={{ efm_conf_settings['pcp.pass.file']|default('') }}
pgpool.bin={{ efm_conf_settings['pgpool.bin']|default('') }}
script.load.balancer.attach={{ efm_conf_settings['script.load.balancer.attach']|default('') }}
script.load.balancer.detach={{ efm_conf_settings['script.load.balancer.detach']|default('') }}
script.fence={{ efm_conf_settings['script.fence']|default('') }}
script.post.promotion={{ efm_conf_settings['script.post.promotion']|default('') }}
script.resumed={{ efm_conf_settings['script.resumed']|default('') }}
script.db.failure={{ efm_conf_settings['script.db.failure']|default('') }}
script.primary.isolated={{ efm_conf_settings['script.primary.isolated']|default('') }}
script.remote.pre.promotion={{ efm_conf_settings['script.remote.pre.promotion']|default('') }}
script.remote.post.promotion={{ efm_conf_settings['script.remote.post.promotion']|default('') }}
script.custom.monitor={{ efm_conf_settings['script.custom.monitor']|default('') }}
script.custom.monitor={{ efm_conf_settings['script.custom.monitor']|default('') }}
custom.monitor.interval={{ efm_conf_settings['custom.monitor.interval']|default('') }}
custom.monitor.timeout={{ efm_conf_settings['custom.monitor.timeout']|default('') }}
custom.monitor.safe.mode={{ efm_conf_settings['custom.monitor.safe.mode']|default('') }}
sudo.command={{ efm_conf_settings['sudo.command']|default('sudo') }}
sudo.user.command={{ efm_conf_settings['sudo.user.command']|default('sudo -u %u') }}
lock.dir={{ efm_conf_settings['lock.dir']|default('') }}
log.dir={{ efm_conf_settings['log.dir']|default('') }}
syslog.host={{ efm_conf_settings['syslog.host']|default('localhost') }}
syslog.port={{ efm_conf_settings['syslog.port']|default(514) }}
syslog.protocol={{ efm_conf_settings['syslog.protocol']|default('UDP') }}
syslog.facility={{ efm_conf_settings['syslog.facility']|default('LOCAL1') }}
file.log.enabled={{ efm_conf_settings['file.log.enabled']|default(true) | bool }}
syslog.enabled={{ efm_conf_settings['syslog.enabled']|default(false) | bool }}
jgroups.loglevel={{ efm_conf_settings['jgroups.loglevel']|default('INFO') }}
efm.loglevel={{ efm_conf_settings['efm.loglevel']|default('INFO') }}
jvm.options={{ efm_conf_settings['jvm.options']|default('-Xmx128m') }}
