---

- assert:
    msg: "Please include the postgres/vars role to define postgres_user"
    that:
      - postgres_user is defined

# Distribution packages will almost certainly want to create the user
# and group, so this role should not be run before postgres/pkg. Any
# time after it (or without it) is fine, though.

- set_fact:
    postgres_group: "{{ postgres_group|default(postgres_user) }}"

- name: Create Postgres group {{ postgres_group }}
  group:
    state: present
    name: "{{ postgres_group }}"

- name: Create Postgres user {{ postgres_user }}
  user:
    state: present
    name: "{{ postgres_user }}"
    group: "{{ postgres_group }}"
    shell: /bin/bash

- name: Enhance soft/hard system limits for user postgres
  blockinfile:
    dest: /etc/security/limits.conf
    block: |
      postgres  soft   nofile   4096
      postgres  hard   nofile   32768

# We want a sensible environment set up for the postgres user, so we
# install our own .bashrc (read by interactive non-login shells).

- name: Install ~{{ postgres_user }}/.bashrc
  template:
    src: bashrc.j2
    dest: "~{{ postgres_user }}/.bashrc"
    owner: "{{ postgres_user }}"
    group: "{{ postgres_group }}"
    mode: 0644

# We also refer to that .bashrc from .profile (read by login shells).

- name: Install ~{{ postgres_user }}/.profile
  copy:
    content: >
      . "$HOME/.bashrc"
    dest: "~{{ postgres_user }}/.profile"
    owner: "{{ postgres_user }}"
    group: "{{ postgres_group }}"
    mode: 0644

# That should be enough, right? Alas, no. The PGDG RPMs install a
# .bash_profile, which has priority over .profile. We could overwrite
# it, but a comment says we run the risk of a future update overwriting
# our changes:
#
#   «If you want to customize your settings,
#   Use the file below. This is not overridden
#   by the RPMS.»
#
# This comment is followed by a bafflingly commented-out line:
#
# #[ -f /var/lib/pgsql/.pgsql_profile ] && source /var/lib/pgsql/.pgsql_profile"
#
# So if you follow the advice and put your settings in .pgsql_profile,
# you would still have to uncomment that line; and when you do so, you
# become vulnerable to upstream changes again. Six of one, half a dozen
# of the other. We don't engage in the contortions required to cope with
# this odd scheme. If a .bash_profile exists at all, we'll just make it
# read our .bashrc.

- name: Make .bash_profile read .bashrc too
  lineinfile:
    dest: "~{{ postgres_user }}/.bash_profile"
    create: no
    state: present
    insertafter: EOF
    line: >-
      . "$HOME/.bashrc"
  ignore_errors: true

# The following is necessary on RedHat, but the directory exists already
# on Debian/Ubuntu.

- name: Ensure /var/log/postgresql exists
  file:
    path: /var/log/postgresql
    owner: postgres
    group: postgres
    mode: 0755
    state: directory
