#!/usr/bin/env {{ python }}

from __future__ import print_function

import psycopg2
import csv
import sys
import time
from datetime import datetime
import os

node1_dsn = sys.argv[1]
node2_dsn = sys.argv[2]
local_dsn = sys.argv[3]
csvfile = sys.argv[4]
test_table = sys.argv[5]
expected_xacts = sys.argv[6]
conn_node1=0
conn_node2=0
# datetime object containing current date and time
now = datetime.now()
csvRow = [now, expected_xacts]
emptyRow = ["","","","","","","",""]
all_committed = False
myquery = "SELECT 1 FROM pg_catalog.pg_class c INNER JOIN pg_catalog.pg_namespace n ON (c.relnamespace = n.oid) WHERE relname ='{}'".format(test_table)
if os.path.exists(csvfile):
  os.remove(csvfile)

# register csv dialect and enter first header
csv.register_dialect('mydialect',
delimiter = '|',
quoting=csv.QUOTE_NONE,
skipinitialspace=True)
with open(csvfile, "a") as fp:
    wr = csv.writer(fp, dialect='mydialect')
    wr.writerow(["timestamp","expected_xacts","node1","node1_xact","node1_prepared_xact","node2_connected", "node2_ready","replay_lag_bytes", "apply_rate", "catchup_interval","node2","node2_xact","node2_prepared_xact","node1_connected", "node1_ready", "replay_lag_bytes", "apply_rate", "catchup_interval"])
fp.close()

# Generate a csv report of statistics collected
def generate_report():
    with open(csvfile, "a") as fp:
        wr = csv.writer(fp, dialect='mydialect')
        wr.writerow(csvRow)
    fp.close()

def get_stats(conn,partner):
    try:
        cur = conn.cursor()
        newRow = []
        cur.execute('SELECT interface_name from bdr.local_node_summary')
        newRow.append(cur.fetchone()[0])
        cur.execute('SELECT count(*) FROM camo_test')
        newRow.append(cur.fetchone()[0])
        cur.execute('SELECT COUNT(*) FROM pg_prepared_xacts')
        newRow.append(cur.fetchone()[0])
        cur.execute('SELECT bdr.is_camo_partner_connected()')
        newRow.append(cur.fetchone()[0])
        cur.execute('SELECT  bdr.is_camo_partner_ready()')
        newRow.append(cur.fetchone()[0])
        cur.execute("SELECT replay_lag_bytes,apply_rate,catchup_interval FROM bdr.node_replication_rates  WHERE target_name ='{}'".format(partner))
        record = cur.fetchone()
        newRow.extend(record)
        csvRow.extend(newRow)
        #closing database connnection.
        cur.close()
        conn.close()
         
    except:
        print("Something wrong with the connection or queries")
        csvRow.extend(emptyRow)


# Takes a conninfo string and returns a dict of the settings it represents, or
# if given a key, returns the value if the key is specified, or None.
def parse_conninfo(conninfo, key=None):

    settings = {}
    for str in conninfo.split(" "):
        parts = [x.strip() for x in str.strip().split("=", 1)]

        v = None
        if len(parts) == 2:
            v = parts[1]
            while (v.startswith("'") and v.endswith("'")) or (
                v.startswith('"') and v.endswith('"')
            ):
                v = v[1:-1]

        settings[parts[0]] = v

    if key:
        return settings.get(key, None)

    return settings

node1_name = parse_conninfo(node1_dsn,'host')
node2_name = parse_conninfo(node2_dsn,'host')

# Get local connection
# Continue to get statistics until tets table exists
try:
    conn_local=psycopg2.connect(local_dsn)
    cur_local=conn_local.cursor()
    cur_local.execute(myquery)
    test_valid = cur_local.fetchone()[0]
    cur_local.close()
    conn_local.close()
except:
    test_valid = 0

while test_valid:
   
    # Try to get connection to node1
    try:
        conn_node1=psycopg2.connect(node1_dsn, connect_timeout=5)
    except:
        print("I am unable to connnect to the node1: '%s'" % node1_dsn)
        
    # Try to get connection to node2
    try:
        conn_node2=psycopg2.connect(node2_dsn,connect_timeout=5)
    except:
        print("I am unable to connnect to the node2: '%s'" % node2_dsn)
        
    # If connection ito node1 is established
    # get statistics from the node else enter empty values
    if(conn_node1):
        get_stats(conn_node1,node2_name)
    else:
        csvRow.extend(emptyRow)
        
    
    # If connection to node2 is established
    # get statistics from the node else enter empty values
    if(conn_node2):
        get_stats(conn_node2,node1_name)
    else:
        csvRow.extend(emptyRow)
    
    # Generate a csv report with above statistics
    generate_report()
    
    # Continue until test runs. `camo_test` table is deleted at the end of the tests
    retry_counter = 12
    while True:
        try:
            conn_local=psycopg2.connect(local_dsn)
            break
        except:
            print("Retry establishing local connection")
            time.sleep(5)
            retry_counter = retry_counter - 1
        if(retry_counter == 0):
            print("Could not establish local connection. Exiting")
            sys.exit()
        
    cur_local=conn_local.cursor()
    cur_local.execute(myquery)
    table_exists=cur_local.fetchone()
    if table_exists and not all_committed:
        if int(csvRow[1]) == csvRow[3] == csvRow[11]:
            all_committed = True
        test_valid = 1
        time.sleep(3)
        now = datetime.now()
        csvRow = [now, expected_xacts]
    else: 
        cur_local.close()
        conn_local.close()
        sys.exit()
